/**
 * HR.info CTA button
 */
.paragraph--type--call-to-action {
  padding: 3rem 2rem 4rem;
}

.paragraph--type--call-to-action.cd-bleed {
  margin-right: calc(50% - 50vw + var(--cd-bleed-scrollbar-width) / 2);
  margin-left: calc(50% - 50vw + var(--cd-bleed-scrollbar-width) / 2);
  background-color: var(--brand-grey);
}

.cd-article .paragraph--type--call-to-action p {
  max-width: var(--cd-max-content-width);
  margin-right: auto;
  margin-left: auto;
}

/* If the CTA paragraph is the last on the page, no background */
.field--name-field-custom-content .paragraph:last-child.paragraph--type--call-to-action.cd-bleed {
  background-color: transparent;
}

.paragraph--type--call-to-action .uno-subscribe {
  max-width: var(--cd-max-content-width);
  margin-right: auto;
  margin-left: auto;
}
