{#
/**
 * @file
 * Default theme implementation for a OCHA powerbi wrapper formatter.
 *
 * Available variables:
 * - attributes: Iframe attributes.
 *
 * @ingroup themeable
 */
#}

<div class="ocha-powerbi">
  <iframe
    sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
    allow="autoplay; encrypted-media;"
    width="{{ width }}"
    height="{{ height }}"
    referrerpolicy="no-referrer"
    frameborder="0"
    target="_blank"
    src="{{ embed_url }}">
  </iframe>
</div>
