.cd-site-header__nav-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* So the mega menu and normal menus play nice together */
@media (min-width: 1024px) {
  .cd-site-header__nav-holder nav[role="navigation"].cd-nav {
    position: unset;
  }
  .cd-site-header__nav-holder nav[role="navigation"] li.menu-item.menu-item--expanded {
    position: relative;
  }
}

@media (min-width: 1024px) {
  .uno-mega-menu {
    background: var(--brand-grey);
    position: absolute;
    z-index: var(--cd-z-dropdown);
    color: var(--cd-default-text-color);
    width: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    top: calc(var(--cd-global-header-height) + var(--cd-site-header-height) + 6px);
  }

  /* Add 39px for the admin menu toolbar */
  .user-logged-in .uno-mega-menu {
    top: calc(var(--cd-global-header-height) + var(--cd-site-header-height) + 6px + 39px);
  }
}

.layout--mega-menu a {
  position: relative;
  display: block;
  padding: 0.5rem 0;
  text-align: left;
  text-decoration: none;
  color: var(--cd-default-text-color);
}

.uno-mega-menu span {
  font-weight: bold;
  display: block;
  margin: 0 0 0.5rem;
}

.uno-mega-menu a + span {
  margin-top: 1.5rem;
}

@media (min-width: 1024px) {
  .uno-mega-menu ul {
    list-style-type: none;
    display: block;
    columns: 4;
    padding: 0;
  }
}

.uno-mega-menu ul li {
  margin: 0;
  padding: 0;
}
.uno-mega-menu ul li a {
  padding: 0 0 1rem;
  display: block;
}



.active-responses-menu button {
  width: auto;
}
.active-responses-menu button:hover {
  background: var(--brand-grey);
}
.active-responses-menu button:focus {
  background: var(--cd-white);
}
.active-responses-menu button:focus::before {
  background: var(--brand-highlight);
}

/* It annoys me */
.contextual {
  display: none;
}

@media (min-width: 1024px) {
  .cd-site-header__nav-holder nav[role="navigation"] li.menu-item.menu-item--expanded.cd-nav__menu-item--level-2 {
    --dropdown: false;
  }
}

.menu-item--expanded .menu-item--expanded [aria-expanded="true"] + ul {
  display: block;
}

.menu-item--expanded .menu-item--expanded [aria-expanded="false"] + ul {
  display: none;
}
