@media screen and (min-width: 1024px) {
  /* So the mega menus and normal menus play nice together. */
  .cd-site-header__nav-holder nav[role="navigation"].cd-nav {
    position: unset;
  }
  .cd-site-header__nav-holder nav[role="navigation"] li.menu-item.menu-item--expanded:not(.uno-mega-menu-item) {
    position: relative;
  }

  .uno-mega-menu {
    position: absolute;
    z-index: var(--cd-z-dropdown);
    top: unset;
    right: 0;
    left: 0;
    width: 100%;
    /* We unset the `top` and set a margin top the height of the header bottom
     * border. This seems to behave nicer with the admin toolbar and maybe could
     * be applied to the other menus. */
    margin-top: 6px;
    padding: 1.5rem 0;
    color: var(--cd-default-text-color);
    background: var(--brand-grey);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  }

  .uno-mega-menu__menu {
    display: flex;
    float: none;
    flex: 0 0 auto;
    flex-flow: row wrap;
    flex-direction: column;
    width: 100%;
    max-width: var(--cd-max-width);
    max-height: 270px;
    margin: 0 auto;
    /* We could also add the cd-container to the <ul> but then we would have to
     * unset the padding on smaller screen. */
    padding: 0 var(--cd-container-padding-xlarge);
  }

  .uno-mega-menu__block {
    padding: 0 0 1rem 0;
  }

  .uno-mega-menu__menu .menu-item__label {
    padding: 0 0 0.5rem 0;
  }

  .uno-mega-menu__dropdown[data-cd-toggable] {
    --dropdown: false;
  }
}

.uno-mega-menu__menu > .menu-item > .menu-item__label,
.uno-mega-menu__menu [data-cd-toggler],
.uno-mega-menu__dropdown > .menu-item__label {
  font-weight: bold;
}

[data-cd-toggler] + .uno-mega-menu__dropdown > .menu-item__label {
  font-weight: normal;
}

/* When a parent menu item is not a link <nolink>, hide the label on mobile.
  Eg. Europe
  Europe has a child item (Ukraine) but no regional office nor region page.
*/
.cd-nav__menu-item--level-2.menu-item--expanded > .uno-mega-menu__dropdown > span.menu-item__label {
  display: none;
}

@media screen and (min-width: 1024px) {
  .cd-nav__menu-item--level-2.menu-item--expanded > .uno-mega-menu__dropdown > span.menu-item__label {
    display: block;
  }

  /* 2nd level menu items without children */
  .uno-mega-menu .cd-nav__menu-item--level-2:not(.menu-item--expanded) {
    margin-bottom: 0.5rem;
  }
}
