.uno-donor {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-bottom: 1rem;
  padding: 0 0 0.5rem;
  /* border-bottom: 1px solid var(--brand-grey); */
  font-size: var(--cd-font-size--ref);
}

.uno-donor dt {
  width: 100%;
  padding: 0 0 0.5rem 0;
}
.uno-donor dd {
  margin: 0;
}

.uno-donors__header {
  border-bottom: 3px solid var(--brand-grey);
  position: relative;
  margin-bottom: 2rem;
}

.uno-donors__title {
  font-size: var(--cd-font-size--base);
  font-weight: 500;
  border-bottom: 3px solid var(--brand-primary);
  margin: 0;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0;
  bottom: -3px;
  position: relative;
}

@media (min-width: 576px) {
  .uno-donors__list {
    display: block;
    margin: 0;
  }

  .uno-donor {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    flex-grow: 0;
    flex-shrink: 0;
    align-content: flex-end;
    padding-inline-end: 1.5rem;
  }

  .uno-donor dt,
  .uno-donor dd {
    flex: 0 1 50%;
  }
}

@media (min-width: 768px) {
  .uno-donors {
    margin-bottom: 0.75rem;
    padding: 0.75rem 0 0;
    /* border-top: 1px solid var(--brand-grey); */
  }

  .uno-donors + .uno-donors {
    margin-bottom: 0;
    border-top: 0 solid var(--brand-grey);
    border-bottom: 1px solid var(--brand-grey);
  }

  .uno-donors__list {
    display: flex;
  }

  .uno-donor {
    border-bottom: 0 solid var(--brand-grey);
  }

  .uno-donor dt,
  .uno-donor dd {
    flex: 1 0 auto;
  }
}

@media (min-width: 1024px) {
  .uno-donor {
    flex-basis: 20%;
  }
}

/* Unearmarked donors do not include the value so we output as ul
  instead of dl.
*/
ul.uno-donors__list {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--cd-max-content-width);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.uno-donors__list li {
  position: relative;
  padding-inline-end: 0.5rem;
  font-size: var(--cd-font-size--ref);
}

ul.uno-donors__list li::after {
  content: ", ";
}
ul.uno-donors__list li:last-child::after {
  content: none;
}
.uno-donors__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.uno-donors__list--with-figures .uno-donors__list__item {
  display: grid;
  grid-template-columns: auto min-content;
}
ul.uno-donors__list--with-figures .uno-donors__amount {
  text-align: right;
  white-space: nowrap;
}

.uno-donors--oct-unearmarked-donors .uno-donors__list__item {
  display: inline;
}

.uno-donors__list--barchart .uno-donor {
  flex-basis: 100%;
}
.uno-donors__list--barchart .uno-donor .uno-donors__amount {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.uno-donors__list--barchart .uno-donor .uno-donors__amount__figure {
  width: 120px;
  white-space: nowrap;
}
.uno-donors__amount__barchart.uno-donors--earmarked {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 10px;
  background: var(--brand-primary--light);
}
.uno-donors__amount__barchart .uno-donors--unearmarked {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 10px;
  background: var(--brand-primary--dark);
}
.uno-donors__legend__earmarked:after,
.uno-donors__legend__unearmarked:after {
  display: inline-block;
  width: 25px;
  height: 10px;
  margin: 0 5px;
  content: '';
  background: var(--brand-primary--light);
}
.uno-donors__legend__unearmarked:after {
  background: var(--brand-primary--dark);
}

/* Javascript enabled */
.js .uno-donors button {
  display: block;
  margin: 24px auto 0 auto;
  padding: 8px 12px;
  color: var(--brand-primary--dark);
  border: 1px solid var(--brand-primary--dark);
  background: white;
  font-size: 16px;
  fill: var(--brand-primary--dark);
}
.js .uno-donors--collapsible button svg {
  fill: currentcolor;
}
.js .uno-donors--collapsible button:hover,
.js .uno-donors--collapsible button:active,
.js .uno-donors--collapsible button:focus {
  color: white;
  background: var(--brand-primary--dark);
}
/* Overrides the default behavior when data-cd-hidden is set as the description
 * is always displayed, only the number of paragraphs changes. */
.js .uno-donors--collapsible .uno-donors__list[data-cd-hidden] {
  display: block;
}
.js .uno-donors--collapsible .uno-donors__list .uno-donor {
  display: none;
}
/* Display only the first 3 paragraphs. */
.js .uno-donors--collapsible .uno-donors__list .uno-donor {
  display: none;
}
.js .uno-donors--collapsible .uno-donors__list .uno-donor:nth-child(-n+10) {
  display: block;
}
/* Show all the paragraphs when toggled. */
.js .uno-donors--collapsible .uno-donors__list[data-cd-hidden="false"] .uno-donor {
  display: block;
}


.uno-donors__amount__suffix {
  margin-inline-start: 0.25rem;
}

/* External link to Donor sources */
.uno-donors__more {
  margin-top: 2rem;
  text-align: left;
}

.uno-donors__more::after {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin: 0 0 0 3px;
  content: "";
  background: var(--rw-icons--common--external-link--12--dark-blue);
}

/* Donors footnote for OCT Unearmarked */
.uno-donors__footnote {
  max-width: var(--cd-max-content-width);
  margin-top: 1rem;
  font-size: var(--cd-font-size--small);
}
