.uno-donors__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.uno-donors__list--with-figures .uno-donors__list__item {
  display: grid;
  grid-template-columns: auto min-content;
}
.uno-donors__list--with-figures .uno-donors__amount {
  text-align: right;
  white-space: nowrap;
}

.uno-donors--oct-unearmarked-donors .uno-donors__list__item {
  display: inline;
}
.uno-donors--oct-unearmarked-donors .uno-donors__list__item + .uno-donors__list__item:before {
  content: ", ";
}
