/** Copied from
  https: //github.com/UN-OCHA/gho-2022-site/blob/develop/html/themes/custom/common_design_subtheme/components/gho-needs-and-requirements/gho-needs-and-requirements.css
  with some adjustments
*/

.gho-needs-and-requirements {
  padding-bottom: 2rem;
  /* border-bottom: 1px solid #d8d8d8; */
}

.gho-needs-and-requirements-figure {
  padding: 1rem 0;
  /* border-width: 1px 0 0 0; */
  /* border-style: solid; */
  /* border-color: #d8d8d8; */
}

.gho-needs-and-requirements-figure:last-child {
  padding-bottom: 0;
}

.gho-needs-and-requirements-figure__label {
  font-size: 1rem;
  font-weight: bold;
}

.gho-needs-and-requirements-figure__label small {
  font-size: inherit;
  font-weight: normal;
}

.gho-needs-and-requirements-figure__value {
  color: var(--brand-primary);
  font-size: 1.625rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .gho-needs-and-requirements {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    /* border-top: 1px solid #d8d8d8; */
  }

  .gho-needs-and-requirements-figure {
    display: inline-block;
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 1.5rem;
    border-width: 0;
  }

  [dir="ltr"] .gho-needs-and-requirements-figure:first-child {
    padding-left: 0;
    border-width: 0;
  }

  [dir="rtl"] .gho-needs-and-requirements-figure:first-child {
    padding-right: 0;
    /* border-width: 0 0 0 1px; */
  }

  [dir="rtl"] .gho-needs-and-requirements-figure:last-child {
    border-width: 0;
  }

  .gho-needs-and-requirements-figure__label {
    font-size: 1.125rem;
  }

  .gho-needs-and-requirements-figure__value {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .gho-needs-and-requirements-figure__value {
    font-size: 2.25rem;
  }
}

.gho-heading {
  color: var(--brand-primary);
}

.gho-content p {
  font-size: var(--cd-font-size--small);
}

.gho-content .cd-read-more {
  text-decoration: none;
  color: black;
}
