/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

:root {
  --uno-card-list-num-cols: 1;
  --uno-card-list-gap-size: 2rem;
  --uno-card-list-gap-size--reduced: 1rem;
}

.layout--twocol .layout--row,
.layout--twocol-siderbar,
.layout--threecol .layout--row,
.layout--fourcol .layout--row,
.layout--fivecol .layout--row {
  display: flex;
  flex-flow: row wrap;
  gap: var(--uno-card-list-gap-size);
}

.layout--fivecol .layout--row {
  gap: 1rem;
}

.layout--twocol .layout--row > .layout__region,
.layout--threecol .layout--row > .layout__region,
.layout--fourcol .layout--row > .layout__region,
.layout--fivecol .layout--row > .layout__region {
  /* stylelint-disable-next-line max-line-length */
  flex: 0 1 calc((100% / var(--uno-card-list-num-cols)) - var(--uno-card-list-gap-size) + var(--uno-card-list-gap-size) / var(--uno-card-list-num-cols));
}

.layout--fivecol .layout--row > .layout__region {
  /* stylelint-disable-next-line max-line-length */
  flex: 0 1 calc((100% / var(--uno-card-list-num-cols)) - var(--uno-card-list-gap-size--reduced) + var(--uno-card-list-gap-size--reduced) / var(--uno-card-list-num-cols));
}

.layout--fivecol .layout--row > .layout__region {
  --uno-card-list-num-cols: 2;
}

@media screen and (min-width: 576px) {
  .layout--twocol .layout--row > .layout__region {
    --uno-card-list-num-cols: 2;
  }

  .layout--threecol .layout--row > .layout__region {
    --uno-card-list-num-cols: 1;
  }

  .layout--fourcol .layout--row > .layout__region {
    --uno-card-list-num-cols: 2;
  }

  .layout--fivecol .layout--row > .layout__region {
    --uno-card-list-num-cols: 3;
  }
}

@media screen and (min-width: 750px) {
  .layout--twocol .layout--row > .layout__region {
    --uno-card-list-num-cols: 2;
  }

  .layout--threecol .layout--row > .layout__region {
    --uno-card-list-num-cols: 3;
  }

  .layout--fourcol .layout--row > .layout__region {
    --uno-card-list-num-cols: 4;
  }

  .layout--fivecol .layout--row > .layout__region {
    --uno-card-list-num-cols: 5;
  }
}

/** Copied from common_design/components/cd/cd-other/cd-layout--content.css.
  so this layout also works on the Content Editor form.
**/

/**
  * Adopt column layout once space allows.
  */
@media screen and (min-width: 1024px) {
  /**
    * Use flex-box once window can accomodate columns.
    */
  .cd-layout {
    display: flex;
    flex-flow: row nowrap;
    gap: 4rem;
  }

  /**
    * Content area should grow to fill available space, but also can shrink to
    * accomodate any columns that are present.
    */
  .cd-layout__content {
    flex: 1 1 auto;
  }

  /**
    * Sidebar(s) should be fixed width. See modifier class if the wider sidebar
    * is desired on a particular website.
    */
  .cd-layout__sidebar {
    flex: 0 0 285px;
  }

  /**
    * Define the wide sidebar. This class isn't present in the default template
    * and must be placed by overriding within a sub-theme.
    */
  .cd-layout__sidebar--wide {
    flex-basis: 400px;
    padding: 0;
  }
}

.layout--twocol-sidebar {
  background-color: var(--brand-grey);
  padding: 2rem;
}
