/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

.layout--twocol,
.layout--threecol,
.layout--fourcol {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol > .layout__region,
.layout--threecol > .layout__region,
.layout--fourcol > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--twocol.layout--twocol > .layout__region {
    flex: 0 1 50%;
  }

  .layout--threecol > .layout__region {
    flex: 0 1 33%;
  }

  .layout--fourcol > .layout__region {
    flex: 0 1 25%;
  }

  .layout--twocol > .layout__region,
  .layout--threecol > .layout__region,
  .layout--fourcol > .layout__region {
    padding-inline-start: 1rem;
  }

  .layout--twocol > .layout__region:first-child,
  .layout--threecol > .layout__region:first-child,
  .layout--fourcol > .layout__region:first-child {
    padding-inline-start: 0;
  }
}

