/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

:root {
  --uno-card-list-num-cols: 1;
  --uno-card-list-gap-size: 1.5rem;
}

.layout--twocol,
.layout--threecol,
.layout--fourcol {
  display: flex;
  flex-flow: row wrap;
  gap: var(--uno-card-list-gap-size);
}

.layout--twocol > .layout__region,
.layout--threecol > .layout__region,
.layout--fourcol > .layout__region {
  /* stylelint-disable-next-line max-line-length */
  flex: 0 1 calc((100% / var(--uno-card-list-num-cols)) - var(--uno-card-list-gap-size) + var(--uno-card-list-gap-size) / var(--uno-card-list-num-cols));
}

@media screen and (min-width: 480px) {
  .layout--twocol > .layout__region {
    --uno-card-list-num-cols: 2;
  }

  .layout--threecol > .layout__region {
    --uno-card-list-num-cols: 3;
  }

  .layout--fourcol > .layout__region {
    --uno-card-list-num-cols: 2;
  }
}

@media screen and (min-width: 750px) {
  .layout--twocol > .layout__region {
    --uno-card-list-num-cols: 2;
  }

  .layout--threecol > .layout__region {
    --uno-card-list-num-cols: 3;
  }

  .layout--fourcol > .layout__region {
    --uno-card-list-num-cols: 4;
  }
}
