/**
 * HR.info Card List
 *
 * Used on the Landing Page content type to reformat Featured Highlight paras
 * into something more suited for a homepage/dashboard.
 */

:root {
  --uno-card-list-num-cols: 1;
  --uno-card-list-gap-size: 1.5rem;
}

/* unset default styles that apply to top-level card */
.paragraph--type--card-list .field--name-field-card > .field__item + .field__item {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

.paragraph--type--card-list .field--name-field-card,
.paragraph--type--list--card .paragraph--type--node .erd-list--card,
.paragraph--type--node-list.node-list--view-mode--card .view .view-content,
.view-display-id-page__humanitarian_response_plans .view-content,
.view-display-id-page__regional_response_plans .view-content,
.view-display-id-page__flash_appeals .view-content,
.view-display-id-page__other .view-content,
.view-display-id-page__stories .view-content {
  display: flex;
  flex-flow: row wrap;
  gap: var(--uno-card-list-gap-size);
}

.paragraph--type--card-list .field--name-field-card > .field__item,
.paragraph--type--list--card .paragraph--type--node .erd-list--card > .field__item,
.paragraph--type--node-list.node-list--view-mode--card .view .views-row,
.view-display-id-page__humanitarian_response_plans .view-content .views-row,
.view-display-id-page__regional_response_plans .view-content .views-row,
.view-display-id-page__flash_appeals .view-content .views-row,
.view-display-id-page__other .view-content .views-row,
.view-display-id-page__stories .view-content .views-row {
  /* stylelint-disable-next-line max-line-length */
  flex: 0 1 calc((100% / var(--uno-card-list-num-cols)) - var(--uno-card-list-gap-size) + var(--uno-card-list-gap-size) / var(--uno-card-list-num-cols));
}

@media screen and (min-width: 480px) {
  .paragraph--type--card-list,
  .paragraph--type--list--card .paragraph--type--node .erd-list--card,
  .paragraph--type--node-list.node-list--view-mode--card .view .view-content,
  .view-display-id-page__humanitarian_response_plans .view-content,
  .view-display-id-page__regional_response_plans .view-content,
  .view-display-id-page__flash_appeals .view-content,
  .view-display-id-page__other .view-content,
  .view-display-id-page__stories .view-content {
    --uno-card-list-num-cols: 2;
  }
}

@media screen and (min-width: 750px) {
  .paragraph--type--card-list--col-3,
  .paragraph--type--list--card .paragraph--type--node .erd-list--card,
  .paragraph--type--node-list.node-list--view-mode--card .view .view-content,
  .view-display-id-page__humanitarian_response_plans .view-content,
  .view-display-id-page__regional_response_plans .view-content,
  .view-display-id-page__flash_appeals .view-content,
  .view-display-id-page__other .view-content,
  .view-display-id-page__stories .view-content {
    --uno-card-list-num-cols: 3;
  }
}
