/**
 * HR.info Card List
 *
 * Used on the Landing Page content type to reformat Featured Highlight paras
 * into something more suited for a homepage/dashboard.
 */

:root {
  --uno-card-list-num-cols: 1;
  --uno-card-list-gap-size: 2rem;
}

.paragraph--type--node.paragraph--view-mode--cards .field--name-field-node,
.paragraph--type--content-list.paragraph--view-mode--cards .view .view-content,
.view-stories .view-content,
.view-display-id-regional_responses .view-content,
.view-display-id-active_responses .view-content,
.view-media-centre .view-content,
.view-regions .view-content {
  display: flex;
  flex-flow: row wrap;
  gap: var(--uno-card-list-gap-size);
}
.view-display-id-regional_responses .view-content {
  gap: 0 var(--uno-card-list-gap-size);
}
.paragraph--type--node.paragraph--view-mode--cards .field--name-field-node article,
.paragraph--type--content-list.paragraph--view-mode--cards article,
.view-stories .view-content article,
.view-display-id-regional_responses .view-content li,
.view-display-id-active_responses .view-content article,
.view-media-centre .view-content article,
.view-regions .view-content article {
  /* stylelint-disable-next-line max-line-length */
  flex: 0 1 calc((100% / var(--uno-card-list-num-cols)) - var(--uno-card-list-gap-size) + var(--uno-card-list-gap-size) / var(--uno-card-list-num-cols));
}

@media screen and (min-width: 480px) {
  .paragraph--type--node.paragraph--view-mode--cards .field--name-field-node,
  .paragraph--type--content-list.paragraph--view-mode--cards .view .view-content,
  .view-stories .view-content,
  .view-display-id-regional_responses .view-content,
  .view-display-id-active_responses .view-content,
  .view-media-centre .view-content,
  .view-regions .view-content {
    --uno-card-list-num-cols: 2;
  }
}

@media screen and (min-width: 750px) {
  .paragraph--type--node.paragraph--view-mode--cards .field--name-field-node,
  .paragraph--type--content-list.paragraph--view-mode--cards .view .view-content,
  .view-stories .view-content,
  .view-display-id-regional_responses .view-content,
  .view-display-id-active_responses .view-content,
  .view-media-centre .view-content,
  .view-regions .view-content {
    --uno-card-list-num-cols: 3;
  }
}

@media screen and (min-width: 750px) {
  .view-display-id-active_responses .view-content {
    --uno-card-list-num-cols: 4;
  }
}


/* Promoted item to span full width */
.path-frontpage .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child,
.page-node-type-region .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child {
  flex: 1 0 100%;
}
/* Hide the body field on all story cards */
article.node--type-story.node--view-mode-card .field--name-body {
  display: none;
}

/* Display the body field on the first sticky item on Homepage and Region pages */
.path-frontpage .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child .field--name-body,
.page-node-type-region .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child .field--name-body {
  display: block;
}

@media screen and (min-width: 480px) {
  .path-frontpage .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child .cd-card__footer,
  .page-node-type-region .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child .cd-card__footer {
    flex: 1 0 100%;
  }
}

@media screen and (min-width: 767px) {
  /* Promoted item to span full width */
  .path-frontpage .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child,
  .page-node-type-region .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .path-frontpage .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child .uno-card__image,
  .page-node-type-region .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child .uno-card__image {
    flex: 0 1 60%;
  }

  .path-frontpage .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child .cd-card__container,
  .page-node-type-region .paragraph--type--content-list article.node--type-story.node--sticky.node--view-mode-card:first-child .cd-card__container {
    flex: 0 1 40%;
    padding-inline-start: 2rem;
  }
}

/* Cards in a layout */
.layout__region .paragraph--type--node.paragraph--view-mode--cards .field--name-field-node {
  display: block;
}


