/**
 * Card List
 *
 */

:root {
  --uno-card-list-num-cols: 1;
  --uno-card-list-gap-size: 2rem;
}

.paragraph--type--node.paragraph--view-mode--cards .field--name-field-node,
.paragraph--type--content-list.paragraph--view-mode--cards .view .view-content,
.view-stories .view-content,
.uno-stories .uno-stories__content,
.view-events .view-content,
.view-display-id-regional_responses .view-content,
.view-display-id-active_responses .view-content,
.view-media-centre .view-content,
.view-regions .view-content,
.view-responses .view-content {
  display: flex;
  flex-flow: row wrap;
  gap: var(--uno-card-list-gap-size);
}
.view-display-id-regional_responses .view-content {
  gap: 0 var(--uno-card-list-gap-size);
}
.paragraph--type--node.paragraph--view-mode--cards .field--name-field-node article,
.paragraph--type--content-list.paragraph--view-mode--cards article,
.view-stories .view-content article,
.uno-stories .uno-stories__content article,
.view-events .view-content article,
.view-display-id-regional_responses .view-content li,
.view-display-id-active_responses .view-content article,
.view-media-centre .view-content article,
.view-regions .view-content article,
.view-responses .view-content article {
  /* stylelint-disable-next-line max-line-length */
  flex: 0 1 calc((100% / var(--uno-card-list-num-cols)) - var(--uno-card-list-gap-size) + var(--uno-card-list-gap-size) / var(--uno-card-list-num-cols));
}

@media screen and (min-width: 480px) {
  .paragraph--type--node.paragraph--view-mode--cards .field--name-field-node,
  .paragraph--type--content-list.paragraph--view-mode--cards .view .view-content,
  .view-stories .view-content,
  .uno-stories .uno-stories__content,
  .view-events .view-content,
  .view-display-id-regional_responses .view-content,
  .view-display-id-active_responses .view-content,
  .view-media-centre .view-content,
  .view-regions .view-content,
  .view-responses .view-content {
    --uno-card-list-num-cols: 2;
  }
}

@media screen and (min-width: 750px) {
  .paragraph--type--node.paragraph--view-mode--cards .field--name-field-node,
  .paragraph--type--content-list.paragraph--view-mode--cards .view .view-content,
  .view-stories .view-content,
  .uno-stories .uno-stories__content,
  .view-events .view-content,
  .view-display-id-regional_responses .view-content,
  .view-display-id-active_responses .view-content,
  .view-media-centre .view-content,
  .view-regions .view-content,
  .view-responses .view-content {
    --uno-card-list-num-cols: 3;
  }
}

@media screen and (min-width: 750px) {
  .view-display-id-active_responses .view-content {
    --uno-card-list-num-cols: 4;
  }
}

/* Vertical rhythm for Views lists using Cards view mode */
.view-stories .view-content .cd-card__container,
.view-events .view-content .cd-card__container,
.view-media-centre .view-content .cd-card__container,
.view-responses .view-content .cd-card__container {
  padding: 0 0 1rem;
}

/* Cards in a layout */
.layout__region .paragraph--type--node.paragraph--view-mode--cards .field--name-field-node {
  display: block;
}
