:root {
  /**
   * Site-specific brand colors
   *
   * Set these variables and the CD Header/Footer will re-color to your brand.
   *
   * In the future the Component library will adhere to these vars as well.
   */
  --brand-primary: var(--cd-ocha-blue);
  --brand-primary--light: var(--cd-blue--brighter);
  --brand-primary--dark: #144372;
  --brand-highlight: #E56A54;
  --brand-highlight-contract: #0B2641;
  --brand-grey: var(--cd-blue-grey);
  --brand-grey: #f5f5f5;
  --brand-logo-width: 186px;
}
