:root {
  /**
   * Site-specific brand colors
   *
   * Set these variables and the CD Header/Footer will re-color to your brand.
   *
   * In the future the Component library will adhere to these vars as well.
   */
  --brand-primary: var(--cd-ocha-blue);
  --cd-blue--brighter: #82b5e9;
  --brand-primary--light: var(--cd-blue--brighter);
  --brand-primary--dark: #144372;
  --brand-highlight: #E56A54;
  --brand-highlight-contrast: #0B2641;
  --brand-grey: #f5f5f5;
  --brand-grey--text: #00000080;
  --brand-logo-width: 186px;
  --brand-default-text-color: #444;

/**
  * Site logos
  *
  * Specify the logo paths/dimentions here. The URL is relative to
  * common_design_subtheme/components/cd/cd-header/cd-logo.css
  */
  --brand-logo-mobile-url: url("../../../img/logos/ocha-logo-blue.svg");
  --brand-logo-mobile-width: 52px;
  --brand-logo-desktop-width: 186px;

  /* DEPRECATED: this variable will be removed in the future */
  --brand-logo-width: var(--brand-logo-desktop-width);
}
