/* Paragraphs */
/* .paragraph {
  margin: 4rem 0 4rem;
} */

.paragraph > .field {
  margin-bottom: 1rem;
}

.paragraph > .field--name-field-title {
   margin-bottom: 2rem;
 }

/* Nodes and Terms */
/* .layout + .layout {
  margin-top: 2rem;
} */

.paragraph--type--node-teaser > .field > .field__items > .field__item {
  margin-bottom: 2rem;
}

.field--name-body + .field--name-field-custom-content {
  margin-top: 2rem;
}

/* .field--name-field-custom-content > .field__item + .field__item {
  margin-top: 6rem;
} */

/* Fields with inline labels */
.field--label-inline {
  display: flex;
  flex-wrap: wrap;
}

.field--label-inline > .field__label {
  margin-inline-end: 0.5rem;
}

.field--label-inline > .field__label::after {
  content: ':'
}

.field--label-inline > .field__item {
  flex: 0 1 auto;
}
/* Restrict width and centre horizontally all fields that are inline
  This might need adjustment */
.cd-layout-main-content > .field--label-inline {
  max-width: var(--cd-max-content-width);
  margin-bottom: 1rem;
}

.node--type-event .field--name-field-event-date,
.node--type-event .field--name-field-event-location,
.node--type-event .field--name-field-event-type,
.node--type-event .field--name-field-country,
.node--type-event .field--name-field-region,
.node--view-mode-full .field--name-field-event-image,
.node--type-event .field--name-field-response,
.node--type-story .field--name-field-theme {
  margin-bottom: 1rem;
}

/* Restrict width and centre horizontally */
.node--type-story .cd-layout-main-content > .field--label-inline,
.node--type-story .cd-caption,
.node--type-story .field--name-field-theme,
.node--type-story .field--type-text-with-summary,
.node--type-story .field--name-field-text,
.node--type-story .cd-layout-main-content > footer {
  max-width: var(--cd-max-content-width);
  margin-left: auto;
  margin-right: auto;
}

.paragraph--type--section .cd-article p,
.field--name-body > ul {
  max-width: var(--cd-max-content-width);
  margin-left: unset;
  margin-right: unset;
}

/* Prevent horizontal centering in these cases */

/* I would like to be able to do this for specific List (eg. Events)
    from the Content List paragraph type
    but the viewmode concept for Views Reference fields does not apply here
    so .content-list--view-mode--teaser is moot
    The viewmode is set in the View config.
    It currently works the same way for all Content List
    */
.paragraph--type--content-list.content-list--view-mode--teaser .field--name-field-title,
.paragraph--view-mode--image-align-left .field--name-field-title,
.paragraph--view-mode--image-align-right .field--name-field-title,
.cd-article p {
  margin-left: 0;
  margin-right: 0;
}

/* Basic vertical rhythm, will need adjusting */
/* .node--view-mode-full .field--name-body,
.node--view-mode-full .field--name-description,
.node--view-mode-full .field--name-field-text,
.node--view-mode-full .field--name-field-title {
  margin-top: 2rem;
  margin-bottom: 4rem;
} */

.node--view-mode-full .paragraph .field--name-field-title,
.viewsreference--view-title {
  margin-bottom: 1rem;
}

.node--view-mode-full .field--name-field-text {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .node--view-mode-full .field--name-field-text {
    margin-bottom: 6rem;
  }
}

/* When a Text paragraph is in a layouts */
.node--view-mode-full .paragraph .field--name-field-text {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .node--view-mode-full .paragraph .field--name-field-text {
    margin-bottom: 3rem;
  }
}

.node--view-mode-full .layout .paragraph .field--name-field-text {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .node--view-mode-full .layout .paragraph .field--name-field-text {
    margin-bottom: 0;
  }
}

.paragraph--type--campaign {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .paragraph--type--campaign {
    margin-bottom: 6rem;
  }
}

.paragraph--type--embed,
.paragraph--type--call-to-action,
.paragraph--type--video,
.paragraph--type--node,
.paragraph--type--section.paragraph--view-mode--default,
.paragraph--type--section.paragraph--view-mode--tabs,
.paragraph--type--content-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .paragraph--type--embed,
  .paragraph--type--call-to-action,
  .paragraph--type--video,
  .paragraph--type--node,
  .paragraph--type--section.paragraph--view-mode--default,
  .paragraph--type--section.paragraph--view-mode--tabs,
  .paragraph--type--content-list {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

/* Paragraphs in layouts or nested, remove margins */
.layout__region .paragraph--type--node,
.paragraph--type--section.paragraph--view-mode--tabs .paragraph--type--section {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .layout__region .paragraph--type--node,
  .paragraph--type--section.paragraph--view-mode--tabs .paragraph--type--section {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.node--view-mode-full .cd-layout-main-content > .field--name-body {
  margin-bottom: 6rem;
}
.node--view-mode-full .node--view-mode-teaser .field--name-body {
  margin-bottom: 0;
}

.paragraph--type--text-and-image .field--name-field-text > p:first-child,
.paragraph--type--text .field--name-field-text > p:first-child {
  margin-top: 0;
}

/* Paragraph Text and Image with alignment */
@media screen and (min-width: 768px) {
  .paragraph--type--text-and-image.paragraph--view-mode--image-align-left,
  .paragraph--type--text-and-image.paragraph--view-mode--image-align-right {
    display: flex;
    flex-wrap: wrap;
  }
  .paragraph--view-mode--image-align-left .field--name-field-image,
  .paragraph--view-mode--image-align-right .field--name-field-image {
    flex: 0 1 50%;
  }
  .paragraph--view-mode--image-align-left .field--name-field-text,
  .paragraph--view-mode--image-align-right .field--name-field-text {
    flex: 0 1 50%;
  }

  .paragraph--type--text-and-image .field--name-field-title {
    flex: 1 0 100%;
  }

  .paragraph--view-mode--image-align-left .field--name-field-text {
    padding-inline-start: 4rem;
  }
  .paragraph--view-mode--image-align-right .field--name-field-text,
  .paragraph--view-mode--image-align-right .field--name-field-title {
    padding-inline-end: 4rem;
    text-align: left;
  }
}

.paragraph__image--align-center .field--name-field-title,
.paragraph__image--align-center .field--name-field-text {
  text-align: left;
}
.paragraph__image--align-center .field--name-field-media-image .field__item img {
  display: inline-block;
  margin: 0 auto;
}

.paragraph--type--call-to-action.cd-bleed {
  margin-right: calc(50% - 50vw + var(--cd-bleed-scrollbar-width) / 2);
  margin-left: calc(50% - 50vw + var(--cd-bleed-scrollbar-width) / 2);
  background-color: var(--brand-grey);
}

/* Video embed */
.field--name-field-video .field--name-field-media-oembed-video {
  position: relative;
  float: none;
  clear: both;
  width: 100%;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%;
}

.field--name-field-video .field--name-field-media-oembed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uno-subscribe {
  margin: 2rem 0 3rem;
}

.uno-tag {
  display: inline-block;
  color: var(--brand-highlight-contrast);
  padding-inline-end: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.0625rem; /* 17px */
  color: var(--brand-primary--dark);
 }

.page-node-type-response .uno-tag,
.page-node-type-region .uno-tag {
  color: var(--cd-black);
}

 /* Views */
 .view-filters {
  margin-bottom: 4rem;
 }

.more-link {
  display: block;
  margin-top: 2rem;
}

.view-display-id-media .view-header,
.view-display-id-response_media .view-header,
.view-display-id-events .view-header,
.view-display-id-country_events .view-header,
.view-display-id-upcoming_events .view-header,
.view-display-id-past_events .view-header,
.view-display-id-response_stories .view-header,
.view-display-id-stories .view-header,
.uno-stories .uno-stories__header {
  display: flex;
  align-items: baseline;
}

.uno-stories .uno-stories__view_all a,
.view-header .views-display-link {
  text-decoration: none;
  padding-inline-start: 1rem;
}

.views-exposed-form.cd-form .cd-form--inline,
.views-exposed-form.cd-form .cd-form--inline label,
.views-exposed-form.cd-form .cd-form--inline .cd-form__item {
  display: block;
}

.views-exposed-form.cd-form .cd-form--inline > .cd-form__item {
  padding-block-end: 1rem;
}

.views-exposed-form .cd-form--inline > .cd-form__item select {
  width: 100%;
}

@media (min-width: 575px) {
  .views-exposed-form.cd-form .cd-form--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .views-exposed-form.cd-form .cd-form--inline > .cd-form__item {
    flex: 1 0 50%;
    max-width: 50%;
    padding-inline-end: 1rem;
  }

  .views-exposed-form.cd-form .cd-form--inline .form-actions {
    text-align: right;
    flex: 1 0 auto;
    padding-inline-end: 1rem;
  }
}

@media (min-width: 767px) {
  .views-exposed-form.cd-form .cd-form--inline > .cd-form__item {
    flex: 1 0 20%;
    max-width: 20%;
  }

  .views-exposed-form.cd-form .cd-form--inline > .cd-form__item {
    padding-block-end: 0;
  }

  .views-exposed-form.cd-form .cd-form--inline .form-actions {
    padding-inline-end: 0;
  }
}

.view-display-id-regional_responses .view-content {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.view-display-id-regional_responses .view-content li {
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--brand-grey);
}
.view-display-id-regional_responses .view-content li a {
  text-decoration: none;
}

/* Story node */
footer.cd-author {
  margin-top: 3rem;
  padding: 1rem 0;
  border-top: 1px solid var(--brand-grey);
}

/* Generic typography, might need increased specificity */
.field__item > p:first-child {
  margin-top: 0;
}

.paragraph--type--node.paragraph--view-mode--teasers article + article {
  margin-top: 2rem;
}

.paragraph--type--layout .cd-teaser {
  border-bottom: 0 solid;
}

@media (min-width: 767px) {
  .uno-content--custom {
    position: relative;
  }

  .uno-content--custom > a.cd-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}
