/* Field vertical rhythm */
.field--name-body + .field--name-field-custom-content {
  margin-top: 2rem;
}

/* No top margin on first paragraph type */
.field--name-field-custom-content .paragraph:first-child {
  margin-top: 0;
}

.field--name-field-custom-content .paragraph:last-child {
  margin-bottom: 0;
}

.field__item > p:first-child {
  margin-top: 0;
}

/* Fields with inline labels */
.field--label-inline {
  display: flex;
  flex-wrap: wrap;
}

.field--label-inline > .field__label {
  margin-inline-end: 0.5rem;
  font-weight: 500;
}

.field--label-inline > .field__label::after {
  content: ":";
}

.field--label-inline > .field__item {
  flex: 0 1 auto;
}

/* Restrict width and centre horizontally all fields that are inline */
.cd-layout-main-content > .field--label-inline {
  max-width: var(--cd-max-content-width);
  margin-bottom: 1rem;
}

/* Unset cd-article p auto margins */
.paragraph--type--section .cd-article p,
.field--name-body > ul,
.field--name-field-text > ul {
  max-width: var(--cd-max-content-width);
  margin-right: unset;
  margin-left: unset;
}
.field--name-body > ul li,
.field--name-field-text > ul li {
  padding-bottom: 0.5rem;
}

.cd-article p {
  margin-right: 0;
  margin-left: 0;
}
/* Restrict width for lists in articles */
.cd-article ol {
  max-width: var(--cd-max-content-width);
}

/* Hide images on RW river items in the main and sidebar column. This is
  specifically for Humanitarian resources on Response pages and might negatively
  affect other contexts where this layout is used in the future.
*/
.layout--twocol-sidebar .cd-layout__content .rw-river-article--with-preview .rw-river-article__content img,
.cd-layout__sidebar--wide .rw-river-article--with-preview .rw-river-article__content img {
  display: none;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river-article.rw-river-article--with-preview .rw-river-article__header {
  flex-basis: 100%;
}

/* Additional spacing above page title for certain node types,
  usually those with potentially long titles
  */
 @media screen and (min-width: 768px) {
  .unocha-reliefweb-document .cd-page-title {
    margin-top: 3rem;
  }
}

/* Homepage styles */
.path-frontpage .layout--twocol-66-33 .layout__region--first p.headline {
  /* Align top so it matches paragraph in next region */
  margin-top: -4px;
}

/* Increase font size in second column on homepage */
.path-frontpage .layout--twocol-66-33 .layout__region--second p {
  color: #707070;
  font-size: 20px;
  line-height: 1.5;
}

.path-frontpage .field--name-field-custom-content .paragraph--type--layout:nth-child(2) .layout--threecol .cd-block-title {
  margin-bottom: 1rem;
  color: var(--brand-primary);
  font-size: 24px;
}

/* Hide teaser images on homepage */
.path-frontpage .paragraph--type--node.paragraph--view-mode--teasers .cd-teaser__image {
  display: none;
}

/* When in a layout, reset cd-bumper value */
.layout .paragraph--type--node.paragraph--view-mode--teasers .cd-teaser__container {
  padding-left: 0;
}

/* When in a layout, add margin to teaser title */
.layout .paragraph--type--node.paragraph--view-mode--teasers .cd-teaser__title {
  margin-top: 1rem;
}
