/* .cd-global-header,
.js .cd-global-header__actions > * {
  background: var(--brand-grey);
}

.cd-header button,
.cd-footer button {
  color: var(--cd-default-text-color);
}

button[aria-expanded] .cd-icon--arrow-down {
  fill: var(--cd-default-text-color);
}

.cd-ocha__logo {
  fill: var(--cd-default-text-color);
}

.cd-global-header__dropdown {
  background: var(--brand-grey);
}

.cd-ocha-dropdown__heading,
.cd-global-header__dropdown a,
.cd-global-header__dropdown a:hover {
  color: var(--cd-default-text-color);
}

.cd-user-menu__dropdown li a {
  color: var(--cd-default-text-color);
}

.cd-global-header button[aria-expanded="true"]::before {
  border-color: transparent transparent var(--brand-grey);
}

.language-switcher-language-url ul li a {
  color: var(--cd-default-text-color);
}
.language-switcher-language-url ul li a::before {
  background: var(--cd-default-text-color);
}

.js .cd-global-header__language-switcher + .cd-global-header__user-menu::before {
  background: var(--cd-default-text-color);
}

.cd-user-menu svg,
.cd-global-header .menu svg {
  fill: var(--cd-default-text-color);
}

.cd-user-menu__item,
.cd-global-header .menu>li a,
.cd-global-header .menu>li button {
  color: var(--cd-default-text-color);
} */

.cd-global-header {
  background: var(--brand-primary--dark);
}

.js .cd-global-header__actions {
  background: linear-gradient(to bottom, var(--brand-primary--dark), var(--brand-primary--dark) 33.33%, var(--cd-white) 33.33%, var(--cd-white) 66.66%, var(--brand-primary--dark) 66.66%);
}

.js .cd-global-header__actions > * {
  background: var(--brand-primary--dark);
}

.cd-layout-highlighted {
  background: var(--brand-primary);
}

.cd-global-header__dropdown {
  background: var(--brand-primary--dark);
}

.cd-global-header button[aria-expanded="true"]::before {
  border-color: transparent transparent var(--brand-primary--dark);
}
.cd-language-switcher__dropdown {
  background-color: var(--brand-primary--dark);
}

/* Paragraphs */
.paragraph {
  margin: 4rem 0 4rem;
}

.paragraph > .field {
  margin-bottom: 1rem;
}

.paragraph > .field--name-field-title {
   margin-bottom: 2rem;
 }

/* Nodes and Terms */
.layout + .layout {
  margin-top: 2rem;
}

.paragraph--type--node-teaser > .field > .field__items > .field__item {
  margin-bottom: 2rem;
}

.field--name-body + .field--name-field-custom-content {
  margin-top: 2rem;
}

.field--name-field-custom-content > .field__item + .field__item {
  margin-top: 6rem;
}

/* Fields with inline labels */
.field--label-inline {
  display: flex;
  flex-wrap: wrap;
}

.field--label-inline > .field__label {
  margin-inline-end: 0.5rem;
}

.field--label-inline > .field__label::after {
  content: ':'
}

.field--label-inline > .field__item {
  flex: 0 1 auto;
}
/* Restrict width and centre horizontally all fields that are inline
  This might need adjustment */
.cd-layout-main-content > .field--label-inline,
.field--name-field-theme {
  max-width: var(--cd-max-content-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.node--view-mode-full .field--name-field-event-image {
  margin-bottom: 1rem;
}

/* Restrict width and centre horizontally */
.paragraph--type--reliefweb-document,
.rw-river,
.node--type-basic .cd-page-title,
.node--type-region .cd-page-title,
.node--type-response .cd-page-title,
.node--type-story .cd-page-title,
.field--name-body,
.field--name-description,
.viewsreference--view-title,
.field--name-body > ul,
.paragraph .field--name-field-title,
.cd-layout-main-content .field--type-text-with-summary,
.cd-layout-main-content footer,
.cd-layout-main-content .cd-caption,
.paragraph--type--text .field--name-field-title,
.paragraph--type--text .field--name-field-text,
.paragraph--type--text-and-image.paragraph--view-mode--default .field--name-field-title,
.paragraph--type--text-and-image.paragraph--view-mode--default .field--name-field-text {
  max-width: var(--cd-max-content-width);
  margin-left: auto;
  margin-right: auto;
}

.node--type-event .cd-page-title {
  max-width: var(--cd-max-content-width);
}


/* Prevent horizontal centering in these cases */

/* I would like to be able to do this for specific List (eg. Events)
    from the Content List paragraph type
    but the viewmode concept for Views Reference fields does not apply here
    so .content-list--view-mode--teaser is moot
    The viewmode is set in the View config.
    It currently works the same way for all Content List
    */
.paragraph--type--content-list.content-list--view-mode--teaser .field--name-field-title,
.paragraph--view-mode--image-align-left .field--name-field-title,
.paragraph--view-mode--image-align-right .field--name-field-title {
  margin-left: 0;
  margin-right: 0;
}

/* Basic vertical rhythm, will need adjusting */
/* .node--view-mode-full .field--name-body,
.node--view-mode-full .field--name-description,
.node--view-mode-full .field--name-field-text,
.node--view-mode-full .field--name-field-title {
  margin-top: 2rem;
  margin-bottom: 4rem;
} */

.node--view-mode-full .field--name-field-title,
.viewsreference--view-title {
  margin-bottom: 2rem;
}

.paragraph--type--text-and-image .field--name-field-text > p:first-child,
.paragraph--type--text .field--name-field-text > p:first-child {
  margin-top: 0;
}

/* Paragraph Text and Image with alignment */
@media screen and (min-width: 768px) {
  .paragraph--type--text-and-image.paragraph--view-mode--image-align-left,
  .paragraph--type--text-and-image.paragraph--view-mode--image-align-right {
    display: flex;
    flex-wrap: wrap;
  }
  .paragraph--view-mode--image-align-left .field--name-field-image,
  .paragraph--view-mode--image-align-right .field--name-field-image {
    flex: 0 1 50%;
  }
  .paragraph--view-mode--image-align-left .field--name-field-text,
  .paragraph--view-mode--image-align-right .field--name-field-text {
    flex: 0 1 50%;
  }

  .field--name-field-title {
    flex: 1 0 100%;
  }

  .paragraph--view-mode--image-align-left .field--name-field-text {
    padding-inline-start: 4rem;
  }
  .paragraph--view-mode--image-align-right .field--name-field-text,
  .paragraph--view-mode--image-align-right .field--name-field-title {
    padding-inline-end: 4rem;
    text-align: left;
  }
}

.paragraph__image--align-center .field--name-field-title,
.paragraph__image--align-center .field--name-field-text {
  text-align: left;
}
.paragraph__image--align-center .field--name-field-media-image .field__item img {
  display: inline-block;
  margin: 0 auto;
}

.paragraph--type--call-to-action.cd-bleed {
  margin-right: calc(50% - 50vw + var(--cd-bleed-scrollbar-width) / 2);
  margin-left: calc(50% - 50vw + var(--cd-bleed-scrollbar-width) / 2);
  background-color: var(--brand-grey);
}

/* Video embed */
.field--name-field-video .field--name-field-media-oembed-video {
  position: relative;
  float: none;
  clear: both;
  width: 100%;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%;
}

.field--name-field-video .field--name-field-media-oembed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Soft footer */
.cd-soft-footer {
  text-align: left;
}
.cd-soft-footer h3 {
  color: white;
}
.cd-soft-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Set bg colour so when menu items break layout, we can see them */
.cd-nav__menu-item--level-1 {
  background-color: white;
}

/* Last menu item with coloured background */
.cd-nav > .menu > .menu-item:last-child a {
  background: var(--brand-highlight);
  color: white;
}

.cd-soft-footer,
.cd-footer {
  color: var(--cd-default-text-color);
  background: var(--brand-grey);
}

.cd-soft-footer__inner {
  align-items: flex-start;
}

.cd-soft-footer .cd-soft-footer__inner .cd-soft-footer__nav-wrapper nav {
  margin-bottom: 1rem;
}

@media screen and (min-width: 575px) {
  .cd-soft-footer .cd-soft-footer__inner .cd-soft-footer__nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .cd-soft-footer .cd-soft-footer__nav-wrapper > nav {
    flex: 0 1 50%;
  }
}
@media screen and (min-width: 1024px) {
  .cd-soft-footer .cd-soft-footer__nav-wrapper > nav {
    flex: 0 1 33%;
  }
}

.cd-footer a,
.cd-soft-footer a,
.cd-soft-footer h2 {
  color: var(--cd-default-text-color);
}

.cd-footer a:hover,
.cd-soft-footer a:hover,
.cd-soft-footer a:focus {
  color: var(--cd-default-text-color);
}

.cd-soft-footer__nav-responses {
  color: var(--brand-highlight-contract);
  background-color: var(--brand-highlight);
  padding: 1rem;
}

a.cd-footer-social__link svg {
  fill: var(--brand-primary);
}

.cd-mandate svg,
.cd-footer-copyright svg {
  fill: var(--cd-default-text-color);
}

.uno-subscribe {
  padding: 3rem 0 2rem;
}

.uno-tag {
  display: inline-block;
  color: var(--brand-highlight-contract);
  background-color: var(--brand-highlight);
  padding: 0 1rem;
 }

 /* Views */
 .view-filters {
  margin-bottom: 4rem;
 }

.more-link {
  display: block;
  margin-top: 2rem;
}

.views-exposed-form.cd-form .cd-form--inline,
.views-exposed-form.cd-form .cd-form--inline label,
.views-exposed-form.cd-form .cd-form--inline .cd-form__item {
  display: block;
}

@media (min-width: 767px) {
  .views-exposed-form.cd-form .cd-form--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  .views-exposed-form.cd-form .cd-form--inline > div {
    flex: 1 0 20%;
    max-width: 20%;
  }

  .views-exposed-form.cd-form .cd-form--inline .form-actions {
    text-align: right;
  }
}

/* Story node */
footer.cd-author {
  margin-top: 3rem;
  padding: 1rem 0;
  border-top: 1px solid var(--brand-grey);
}

/* Generic typography, might need increased specificity */
.field__item > p:first-child {
  margin-top: 0;
}

.paragraph--type--node.paragraph--view-mode--teasers article + article {
  margin-top: 2rem;
}

.node--view-mode-campaign {
  border:3px solid var(--brand-grey);
  display: flex;
  padding: 1rem;
}

