{#

/**
 * @file
 * Template for a canto portal.
 *
 * Available variables:
 * - attributes: wrapper attributes
 * - content_attributes: content attributes
 * - url: URL of the canto portal.
 */

#}
{% if url is not empty %}
<div{{ attributes.addClass('uno-canto-portal-wrapper') }}>
  <iframe{{ content_attributes.addClass('uno-canto-portal-content').setAttribute('src', url) }}></iframe>
</div>
{% endif %}

