/**
 * Card container
 */
 .cd-card {
  display: flex;
  flex-flow: column nowrap;
  border: 0 solid var(--brand-grey);
  background-color: var(--cd-white);
}

/**
 * Card image
 */
.cd-card__image img {
  width: 100%;
  height: 13rem;
}

@supports (object-fit: cover) {
  .cd-card__image img {
    object-fit: cover;
    object-position: 50% 50%;
  }
}

/**
 * Card contents
 */
.cd-card__container {
  flex-grow: 1;
  padding: 0;
}

.cd-card__title,
.cd-card__title a {
  display: block;
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
}
.cd-card__title {
  margin-bottom: 0.5rem;
}

.cd-card__title a:hover,
.cd-card__title a:focus {
  color: var(--brand-default-text-color);
}

.cd-card__title:first-child,
.cd-card__title {
  margin-top: 1rem;
}

.cd-card__description p:last-child {
  margin-bottom: 0;
}

/**
 * Card footer
 */
.cd-card__footer {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: flex-end;
  margin-top: 0;
  padding: 0;
  padding-inline-end: 2rem;
  content: "";
}
.cd-card__footer::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 3px;
  background-color: var(--brand-primary);
}

@media screen and (min-width: 480px) {
  /* Story always has a date before the read more in the footer. */
  article:not(.node--type-story, .node--type-media-collection).cd-card .cd-card__footer {
    display: block;
  }
}

.cd-card__date {
  display: inline-block;
  flex: 1 auto;
  font-size: 0.875rem;
}

.cd-card__link {
  padding: 0;
  text-decoration: none;
  border-top: 0 solid var(--brand-grey);
}
