/**
 * HR.info Card
 *
 * There isn't a corresponding Paragraph Type for this component. Instead, the
 * Featured Highlight uses it as an alternate display mode.
 *
 * @see html/themes/custom/common_design_subtheme/templates/paragraph--landing-page--featured-highlight.html.twig
 */
.uno-card {
  --uno-card-border-color: #ddd;
  --uno-card-padding: 1.5rem;

  height: 100%;
  border: 1px solid var(--uno-card-border-color);
}

/**
 * Have our card contents stretch to fill the flex item, and set its position
 * for the read-more link defined below.
 */
.uno-card__content {
  position: relative;
  height: 100%;
}

/* Image */
.uno-card .field--type-image {
  position: relative;
  margin-bottom: var(--uno-card-padding);
  aspect-ratio: 2 / 1;
}
.uno-card img::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid #ddd;
  background: var(--cd-grey--light);
}
.uno-card img::after {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  content: "Broken image:  " attr(alt);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #888;
}

/* Article title */
.uno-card .uno-card__title {
  margin: 1.25rem 0 1.5rem;
  padding: 0 var(--uno-card-padding);
  color: var(--cd-black);
  font-size: var(--cd-font-size--base);
  font-weight: 700;
}

/* Text summary */
.uno-card__summary {
  margin: 0 0 2.25rem;
  padding: 0 var(--uno-card-padding);
  font-size: 1rem;
}

/**
 * We're using an invisible hyperlink that stretches over the top of each card
 * so that the entire surface is clickable/tappable.
 */
.uno-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
}
.uno-card__link:hover {
  color: transparent;
  outline: 3px solid var(--uno-card-border-color);
}
.uno-card__link:focus,
.uno-card__link:active {
  color: transparent;
  outline: 3px solid black;
}
