.uno-event-date {
  display: block;
}
.uno-event-date__wrapper {
  display: block;
}
.uno-event-date__label {
  display: inline;
}
.uno-event-date__date {
  display: inline;
}
.uno-event-date__time {
  display: inline;
}
