/**
 * CD Page Title
 */

.cd-page-title {
  max-width: var(--cd-max-content-width);
  color: var(--brand-primary);
  border-bottom: 0 none;
  font-size: var(--cd-font-size--2xbase);
}
@media screen and (min-width: 1024px) {
  .cd-page-title {
    font-size: var(--cd-font-size--2xlarge);
  }
}
/* Breakpoint when the title max-width is reached,
  and the social media is placed next to it */
@media screen and (min-width: 1100px) {
  .cd-page-title {
    margin-bottom: 0;
  }
}

.page-node-type-event .cd-page-title,
.unocha-reliefweb-document .cd-page-title,
.page-node-type-basic .cd-page-title {
  color: var(--cd-black);
}

.page-node-type-response .cd-page-title {
  color: var(--brand-highlight);
}

.page-node-type-region .cd-page-title {
  color: var(--cd-black);
}
