/**
 * Common Design: Logo
 *
 * Overrides the image path. All other rules are defined in CD Header itself.
 * This rule exists so that the values in brand.css resolve relative to this
 * sub-theme instead of the base-theme.
 */

.cd-site-header__inner .region-header-logo {
  flex: 0 0 var(--brand-logo-mobile-width);
}

.cd-site-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: var(--brand-logo-mobile-width);
  background: none;
}
@media screen and (min-width: 768px) {
  .cd-site-logo {
    width: var(--brand-logo-desktop-width);
  }
}

.cd-site-logo img {
  display: block;
}
