{#
/**
 * @file
 * Theme override for a field.
 *
 * @overrides html/themes/contrib/common_design/templates/field/field.html.twig
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden'
  ]
%}

{{ attach_library('common_design/cd-block-title') }}

{% for item in items %}
  <h2{{attributes.addClass(classes,'field__item','cd-block-title')}}>{{ item.content }}</h2>
{% endfor %}
