/*
 * @file
 * Provides the layout styles for layout_cards.
 */

.layout--cards {
  display: flex;
  flex-wrap: wrap;
}

.layout--cards > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--cards > .layout__region--first,
  .layout--cards > .layout__region--second,
  .layout--cards > .layout__region--third {
    flex: 0 1 33%;
  }
}
