.uno-figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .uno-figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .field--name-field-text + .uno-figures {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.uno-figure {
  flex-basis: 100%;
  padding: 0 0 1rem;
}

.uno-figure__label {
  font-size: 1rem;
  font-weight: bold;
}
dt.uno-figure__label-wrapper {
  width: 100%;
  padding: 0 0 1rem 0;
}

.uno-figure__value {
  color: var(--brand-primary);
  font-size: 1.625rem;
  font-weight: bold;
}
dd.uno-figure__value {
  margin: 0;
}

@media (min-width: 768px) {
  .uno-figure {
    display: inline-block;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    padding-inline-end: 1.5rem;
  }

  .uno-figure__label {
    font-size: 1.125rem;
  }

  .uno-figure__value {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .uno-figure {
    flex-basis: 25%;
  }
}

.uno-figures__footnote {
  max-width: var(--cd-max-content-width);
  font-size: var(--cd-font-size--small);
}

/* RW document */
.paragraph--type--figures .rw-river-article {
  display: inline-block;
  padding-top: 1.5rem;
}
.paragraph--type--figures .rw-river-article__attachment {
  padding: 1rem;
  border: 3px solid var(--brand-grey);
}
.paragraph--type--figures .rw-river-article__attachment a {
  display: block;
}

@media (min-width: 1024px) {
  .paragraph--type--figures {
    display: flex;
  }
  .uno-figures__wrapper {
    flex: 1 0 auto;
  }
  .paragraph--type--figures .rw-river-article {
    padding-top: 0;
  }
}
