<div class="cd-footer__section cd-footer__section--copyright">
  <div class="cd-footer-copyright">
    <span class="cd-footer-copyright__text">
    {% trans %}© United Nations Office for the Coordination of Humanitarian Affairs{% endtrans %}
    </span>
  </div>
</div>
