{# Displays the site footer #}

{{ attach_library('common_design/cd-ocha-services') }}

<footer class="cd-footer" role="contentinfo">
  <div class="cd-container cd-footer__inner">
  {% block footer_menu %}
    {% include '@common_design/cd/cd-footer/cd-footer-menu.html.twig' %}
  {% endblock %}

  {% block social_menu %}
    {% include '@common_design_subtheme/cd/cd-footer/cd-social-menu.html.twig' %}
  {% endblock %}

  {% block copyright %}
    {% include '@common_design_subtheme/cd/cd-footer/cd-copyright.html.twig' %}
  {% endblock %}

  {% include '@common_design_subtheme/uno/subscribe.html.twig' %}

  {% block ocha %}
    {% include '@common_design_subtheme/cd/cd-header/cd-ocha.html.twig' %}
  {% endblock %}

  </div>
</footer>
