{% set soft_footer_attribute = create_attribute() %}
{%
    set classes = [
    'cd-container',
    'cd-soft-footer__inner'
  ]
%}

<section class="cd-soft-footer">
  <div{{soft_footer_attribute.addClass(classes)}}>
    {{ page.footer_soft}}
    {{ page.responses_nav}}
  </div>
</section>
