/**
 * UNO customizations for RSS feed paragraphs.
 */
.uno-rss-feed h3 {
  margin-bottom: 0;
  font-size: var(--cd-font-size--base);
}

.uno-rss-feed ul {
  margin: 1em 0 2rem;
  padding-inline-start: 1rem;
}

.uno-rss-feed ul li + li {
  margin-top: 0.75rem;
}
