.node--view-mode-campaign {
  padding: 2rem;
  /* border: 3px solid var(--brand-grey); */
}

@media screen and (min-width: 768px) {
  .node--view-mode-campaign {
    display: flex;
    padding: 2rem 0;
  }
}

.cd-campaign__header {
  padding-bottom: 1rem;
}

/* .cd-campaign__description {
  font-size: var(--cd-font-size--ref);
} */

.cd-campaign__description .uno-cta {
  margin-top: 1rem;
}

.cd-campaign__title a {
  text-decoration: none;
  color: var(--cd-black);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .cd-campaign__header {
    flex: 1 0 33%;
    padding-bottom: 0;
    padding-inline-end: 1rem;
  }

  .cd-campaign__description {
    flex: 1 0 66%;
    padding-inline-start: 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
