.node--view-mode-campaign {
  padding: 1rem 2rem;
  border: 3px solid var(--brand-grey);
}

@media screen and (min-width: 768px) {
  .node--view-mode-campaign {
    display: flex;
    padding: 2rem 3rem;
  }
}

.cd-campaign__header {
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .cd-campaign__header {
    flex: 1 0 40%;
    padding-bottom: 0;
    padding-inline-end: 4rem;
  }
}

.cd-campaign__description {
  flex: 1 0 40%;
  font-size: var(--cd-font-size--ref);
}

.cd-campaign__title a {
  text-decoration: none;
  color: var(--cd-black);
  font-weight: 400;
}
