.view-display-id-media .view-header,
.view-display-id-response_media .view-header,
.view-display-id-events .view-header,
.view-display-id-country_events .view-header,
.view-display-id-upcoming_events .view-header,
.view-display-id-past_events .view-header,
.view-display-id-response_stories .view-header,
.view-display-id-stories .view-header,
.uno-stories .uno-stories__header,
.uno-media-centre .uno-media-centre__header {
  display: flex;
  align-items: baseline;
}

.uno-stories .uno-stories__view_all,
.uno-media-centre .uno-media-centre__view_all,
.view-header .views-display-link {
  flex: 1 0 auto;
}

.uno-stories .uno-stories__view_all a,
.uno-media-centre .uno-media-centre__view_all a,
.view-header .views-display-link {
  position: relative;
  padding-inline-start: 1rem;
}

.uno-stories .uno-stories__view_all a::after,
.uno-media-centre .uno-media-centre__view_all a::after,
.view-header .views-display-link::after {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin: 0 0 0 6px;
  content: "";
  background: var(--rw-icons--common--arrow-right--12--dark-blue);
}

.uno-stories .uno-stories__view_all a:hover::after,
.uno-stories .uno-stories__view_all a:focus::after,
.uno-media-centre .uno-media-centre__view_all a:hover::after,
.uno-media-centre .uno-media-centre__view_all a:focus::after,
.view-header .views-display-link:hover::after,
.view-header .views-display-link:focus::after {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin: 0 0 0 6px;
  content: "";
  background-position-x: var(--rw-icons--common--12--blue--x);
}
