<div class="cd-site-header__nav-holder">
  {% if page.header_navigation %}

    {# Menu dropdown toggle is created with javascript #}
    {{ page.header_navigation }}
    {% include '@uno-components/uno-mega-menu/uno-mega-menu.html.twig' %}

  {% endif %}
</div>
