/**
 * CD Article component
 */

.cd-article p {
  max-width: var(--cd-max-content-width);
  margin-left: auto;
  margin-right: auto;
}

.cd-article p:first-child {
  margin-top: 0;
}

.cd-article__page-title {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--brand-grey);
}
