/**
 * River results.
 */
.rw-river-results {
  width: 100%;
  padding: 24px 0 0;
  text-align: center;
  margin-bottom: 1rem;
}
.rw-river-results--with-advanced-search {
  padding: 0;
}
.rw-river-results span {
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .rw-river-results {
    padding: 24px 0;
    text-align: left;
    border-bottom: 1px solid var(--cd-reliefweb-brand-grey--light);
  }
}

@media all and (min-width: 768px) {
  .rw-river-results--with-advanced-search {
    padding: 11px 0;
  }
}

@media all and (min-width: 1024px) {
  .rw-river-results--with-advanced-search {
    padding: 10px 0;
  }
}
