/* stylelint-disable max-line-length */
/**
 * RW River
 *
 * Taken directly from RW9.
 *
 * @see https://raw.githubusercontent.com/UN-OCHA/rwint9-site/38e66da1b0fa4d6f316aaa7c961db859e2ef5d4b/html/themes/custom/common_design_subtheme/components/rw-river/rw-river.css
 */

/**
 * Spacing between the sections on a river page.
 *
 */
.rw-river-page .rw-river-search,
.rw-river-page .rw-river-letter-navigation-wrapper,
.rw-river-page .rw-river--disaster-map,
.rw-river-page section + section {
  margin-top: 32px;
}
.rw-river-page .rw-river-search ~ .rw-river-letter-navigation-wrapper {
  margin-top: 24px;
}

/**
 * 2 columns layout on tablet/desktop for rivers with advanced search.
 */
@media screen and (min-width: 768px) {
  .rw-river-page--with-advanced-search .rw-advanced-search {
    float: left;
    width: 300px;
    margin-bottom: 32px;
  }
  .rw-river-page--with-advanced-search .rw-river--river-list {
    float: right;
    width: calc(100% - 340px);
    margin-bottom: 32px;
  }
  /* Clear the floating above. */
  .rw-river-page--with-advanced-search #list:after {
    display: block;
    clear: both;
    content: "";
  }

  .rw-river--river-cards .rw-river__articles {
    margin-right: -8px;
    margin-left: -8px;
  }
}

@media screen and (min-width: 1024px) {
  .rw-river-page--with-advanced-search .rw-advanced-search {
    width: 320px;
  }
  .rw-river-page--with-advanced-search .rw-river--river-list {
    width: calc(100% - 360px);
  }
}
