unocha_reliefweb.settings:
  type: config_object
  label: 'UNOCHA ReliefWeb integration settings'
  mapping:
    reliefweb_api_url:
      type: string
      label: 'ReliefWeb API URL'
    reliefweb_api_appname:
      type: string
      label: 'App name parameter to indentify the API requests.'
    reliefweb_api_cache_enabled:
      type: boolean
      label: 'Cache the API query results.'
    reliefweb_api_cache_lifetime:
      type: integer
      label: 'How long to cache the API query results.'
    reliefweb_api_verify_ssl:
      type: boolean
      label: 'Verify the SSL certificate of the API query performing requests.'
    reliefweb_website:
      type: string
      label: 'ReliefWeb site URL.'
    reliefweb_document_not_found_max_age:
      type: integer
      label: 'Max age when for a ReliefWeb document page not found response.'
    reliefweb_api_converter:
      type: string
      label: 'URL of the ReliefWeb API converter.'
    reliefweb_api_use_redirects:
      type: boolean
      label: 'Also use the "redirects" field for URL lookups.'
    reliefweb_api_webhook_secret:
      type: string
      label: 'Webhook secret for validating incoming requests.'

field.field_settings.reliefweb_document:
  type: mapping
  mapping:
    river:
      type: string
      label: 'Allowed river'

field.field_settings.reliefweb_river:
  type: mapping
  mapping:
    rivers:
      type: sequence
      label: 'Allowed rivers'
      sequence:
        type: string
        label: 'Allowed river'

field.formatter.settings.reliefweb_document:
  type: mapping
  label: 'ReliefWeb River formatter settings'
  mapping:
    white_label:
      type: boolean
      label: 'Convert ReliefWeb URLs to UNOCHA URLs'
    ocha_only:
      type: boolean
      label: 'Only include OCHA documents'

field.formatter.settings.reliefweb_document_river:
  type: mapping
  label: 'ReliefWeb River formatter settings'
  mapping:
    white_label:
      type: boolean
      label: 'Convert ReliefWeb URLs to UNOCHA URLs'
    ocha_only:
      type: boolean
      label: 'Only include OCHA documents'
    view_all_link:
      type: boolean
      label: 'Display a link to the full list of articles'
    paginated:
      type: boolean
      label: 'User a pager to navigate the list'

field.formatter.settings.reliefweb_river:
  type: mapping
  label: 'ReliefWeb River formatter settings'
  mapping:
    white_label:
      type: boolean
      label: 'Convert ReliefWeb URLs to UNOCHA URLs'
    ocha_only:
      type: boolean
      label: 'Only include OCHA documents'
    view_all_link:
      type: boolean
      label: 'Display a link to the full list of articles'
    paginated:
      type: boolean
      label: 'User a pager to navigate the list'
