/* .cd-footer .paragraph--type--subscribe {
  display: flex;
  justify-content: center;
} */

.paragraph--type--subscribe .field--name-field-text p {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.uno-subscribe {
  padding: 2rem 0;
  margin-bottom: 3rem;
  border-top: 1px solid var(--brand-grey--border);
  border-bottom: 1px solid var(--brand-grey--border);
}

@media screen and (min-width: 768px) {
  .uno-subscribe {
    flex: 0 1 100%;
  }
}
@media screen and (min-width: 1024px) {
  .uno-subscribe {
    flex: 1 0 auto;
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 768px) {
  .uno-subscribe form {
    display: flex;
    align-items: center;
  }
}

.uno-subscribe .uno-subscribe__logo {
  display: block;
  margin-bottom: 0.5rem;
  margin-inline-end: 3rem;
}

.uno-subscribe .uno-subscribe__logo svg {
  fill: var(--brand-primary);
}

.uno-subscribe .mc-field-group {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .uno-subscribe .mc-field-group {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .uno-subscribe .uno-subscribe__logo {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .uno-subscribe .mc-field-group {
    flex-wrap: nowrap;
  }
}

.uno-subscribe .cd-button {
  border-radius: 0;
  height: 4rem;
}

.uno-subscribe .email {
  padding: 0.5rem 1rem;
  padding-inline-start: 2rem;
  border: 1px solid var(--brand-grey);
  line-height: 1.15; /* match cd-button */
  height: 4rem;
}

@media screen and (min-width: 768px) {
  .uno-subscribe .email,
  .uno-subscribe .cd-button {
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .uno-subscribe .email {
    flex: 1 0 400px;
  }
}
