/**
 * UNO nav
 */

:root {
  --uno-nav-list-num-cols: 1;
  --uno-nav-list-gap-size: 2rem;
}

.uno-nav {
  color: var(--brand-highlight-contrast);
  background-color: var(--brand-highlight);
  padding: 1rem;
  border: 1px solid #707070;
  margin-top: -36px; /* Height of nav h2 and its bottom margin */
}
.uno-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.uno-nav__list li {
  padding: 0;
}

.uno-nav__list--horizontal li {
  padding: 0.5rem 0 1rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid var(--brand-grey);
}

.uno-nav__list--horizontal li a {
  text-decoration: none;
}

.uno-nav__list--horizontal {
  display: flex;
  flex-flow: row wrap;
  gap: var(--uno-nav-list-gap-size);
}

.uno-nav__list--horizontal {
  gap: 0 var(--uno-nav-list-gap-size);
}

.uno-nav__list--horizontal li {
  /* stylelint-disable-next-line max-line-length */
  flex: 0 1 calc((100% / var(--uno-nav-list-num-cols)) - var(--uno-nav-list-gap-size) + var(--uno-nav-list-gap-size) / var(--uno-nav-list-num-cols));
}

@media screen and (min-width: 480px) {
  .uno-nav__list--horizontal {
    --uno-nav-list-num-cols: 2;
  }
}

@media screen and (min-width: 750px) {
  .uno-nav__list--horizontal {
    --uno-nav-list-num-cols: 3;
  }
}
