/**
 * UNO nav
 */

.uno-nav {
  color: var(--brand-highlight-contrast);
  background-color: var(--brand-highlight);
  padding: 1rem;
  border: 1px solid #707070;
  margin-top: -36px; /* Height of nav h2 and its bottom margin */
}
.uno-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.uno-nav__list li {
  padding: 0;
}

.cd-soft-footer .cd-soft-footer__nav-responses a {
  color: var(--cd-white);
}

 .cd-soft-footer .cd-soft-footer__nav-responses h2 {
  color: var(--brand-primary--dark);
}
