/**
 * UNO nav
 */

.uno-nav {
  padding: 1rem;
  background-color: var(--brand-primary);
  color: white;
}

.uno-nav__container {
  max-width: var(--cd-max-width);
  text-align: center;
  margin: 0 auto;
}

.uno-nav__titlem {
  font-size: 1.25rem;
  font-weight: bold;
}
.uno-nav__title a {
  color: white;
}
.uno-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.uno-nav__list li {
  padding: 0;
}
