{{ attach_library('common_design/cd-bleed') }}
{{ attach_library('common_design_subtheme/uno-nav') }}

<div class="uno-nav cd-bleed">
  <div class="uno-nav__container">
    {# <div class="uno-nav__title">
      <a href="/active-responses">Active responses</a>
    </div>
    <div class="uno-nav__description">
      <ul class="uno-nav__list">
        <li><a href="">Humanitarian Response Plans</a></li>
        <li><a href="">Flash Appeals</a></li>
        <li><a href="">Regional Response Plans</a></li>
        <li><a href="">Other</a></li>
      </ul>
    </div>
    <div class="uno-nav__footer">
      <a class="uno-nav__link cd-button cd-button--light cd-button--bold cd-button--uppercase" href="#">
        Take Action
      </a>
    </div> #}

  {{ page.responses_nav }}

  </div>
</div>
