/**
 * CD Typography
 */
hr {
  margin: 3.5rem auto;
  border-top: 3px solid var(--brand-grey);
}

blockquote {
  margin: 3rem 0;
  padding: 1rem 2rem;
  border-inline-start: 3px solid var(--brand-grey);
}

blockquote p:last-child {
  margin-bottom: 0;
}

p.title {
  margin: 6rem 0;
  text-align: center;
  font-size: var(--cd-font-size--2xmedium);
}


p.headline {
  color: var(--brand-primary);
  font-size: var(--cd-font-size--2xmedium);
  font-weight: bold;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  p.headline {
    font-size: 52px;
    line-height: 1.2;
  }
}
