/**
 * CD Typography
 */
hr {
  margin: 3.5rem auto;
  border-top: 3px solid var(--brand-grey);
}

blockquote {
  margin: 3rem 0;
  padding: 1rem 2rem;
  border-inline-start: 3px solid var(--brand-grey);
}

blockquote p:last-child {
  margin-bottom: 0;
}

p.title {
  margin: 6rem 0;
  text-align: center;
  font-size: var(--cd-font-size--2xmedium);
}
