/* stylelint-disable max-line-length */
/**
 * RW Brand Colors
 *
 * Recompile the Sass source files to get a new list.
 *
 * @see https://github.com/UN-OCHA/rwint9-site/blob/38e66da1b0fa4d6f316aaa7c961db859e2ef5d4b/html/themes/custom/common_design_subtheme/sass/cd/_cd-variables.scss
 */

:root {
  --cd-reliefweb-brand-blue: #0988bb;
  --cd-reliefweb-brand-red: #f65c51;
  --cd-reliefweb-brand-blue--dark: #055372;
  --cd-reliefweb-brand-red--dark: #eb1405;
  --cd-reliefweb-brand-grey--dark: #2e3436;
  --cd-reliefweb-brand-grey--mid: #4d5254;
  --cd-reliefweb-brand-grey--light: #e6ecef;
  --cd-rgb-reliefweb-brand-blue: 9, 136, 187;
  --cd-rgb-reliefweb-brand-red: 246, 92, 81;
  --cd-rgb-reliefweb-brand-blue--dark: 4, 82, 112;
  --cd-rgb-reliefweb-brand-red--dark: 235, 20, 5;
  --cd-rgb-reliefweb-brand-grey--dark: 46, 52, 54;
  --cd-rgb-reliefweb-brand-grey--light: 230, 236, 239;
  --cd-reliefweb-grey--light: #d9d9d9;
  --cd-reliefweb-grey--light--bg: rgba(217, 217, 217, 0.2);
  --cd-reliefweb-orange: #f49e2c;
  --cd-reliefweb-orange--bg: rgba(244, 158, 44, 0.2);
  --cd-reliefweb-blue: #076d96;
  --cd-reliefweb-blue--bg: rgba(7, 109, 150, 0.2);
  --cd-reliefweb-green: #88bb09;
  --cd-reliefweb-green--bg: rgba(136, 187, 9, 0.2);
  --cd-reliefweb-red: #da190b;
  --cd-reliefweb-red--bg: rgba(218, 25, 11, 0.2);
  --cd-reliefweb-purple: #9509bb;
  --cd-reliefweb-purple--bg: rgba(149, 9, 187, 0.2);
  --cd-reliefweb-grey: #4b4b4b;
  --cd-reliefweb-grey--bg: rgba(75, 75, 75, 0.2);
  --cd-reliefweb-brown: #8f5507;
  --cd-reliefweb-brown--bg: rgba(143, 85, 7, 0.2);
  --cd-reliefweb-yellow: #f5cb2f;
  --cd-reliefweb-yellow--bg: rgba(245, 203, 47, 0.2);
  --cd-reliefweb-cyan: #56c9f7;
  --cd-reliefweb-cyan--bg: rgba(86, 201, 247, 0.2);
  --cd-reliefweb-orange--alert: #eb8705;
  --cd-reliefweb-pink: rgba(246, 92, 81, 0.2);
  --cd-reliefweb-grey--disable: rgba(230, 236, 239, 0.5);
}

/**
 * External URLs
 */
.hri__external-url {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: transparent url("../components/rw-brand/rw-icons-sprite.svg") -84px -108px no-repeat;
}

/**
 * View more
 */
.view-more {
  width: 100%;
  text-align: center;
}

.view-more a {
  font-size: var(--cd-font-size--small);
  font-style: italic;
}

.view-more a[href^="https://"]:after,
.view-more a:after {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin: 0 0 0 6px;
  content: "";
  vertical-align: middle;
  background: transparent url("../../components/rw-brand/rw-icons-sprite.svg") -84px -108px no-repeat;
}
