/**
 * RW Brand Colors
 */
:root {
  --cd-reliefweb-brand-red: #f65c51;
  --cd-reliefweb-brand-red--dark: #eb1405;
  --cd-reliefweb-brand-grey--dark: #2e3436;
  --cd-reliefweb-brand-grey--mid: #4d5254;
  --cd-reliefweb-brand-grey--light: #e6ecef;
  --cd-reliefweb-orange--alert: #eb8705;
}
