{{ attach_library('common_design_subtheme/uno-donors') }}

<section class="uno-donors uno-donors--top-donors">
  <h3 class="uno-donors__title">Top donors</h3>
  <dl class="uno-donors__list">
    <div class="uno-donor">
      <dt>Japan</dt>
      <dd>$28.9 million (36.3%)</dd>
    </div>
    <div class="uno-donor">
      <dt>United States of America</dt>
      <dd>$9.6 million (12.1%)</dd>
    </div>
    <div class="uno-donor">
      <dt>Sweden</dt>
      <dd>$8.6 million (10.8%)</dd>
    </div>
    <div class="uno-donor">
      <dt>Germany</dt>
      <dd>$8.5 million (10.7%)</dd>
    </div>
    <div class="uno-donor">
      <dt>Ausdlalia</dt>
      <dd>$6.1 million (7.7%)</dd>
    </div>
  </dl>
</section>

<section class="uno-donors uno-donors--top-sectors">
  <h3 class="uno-donors__title">Top funded sectors</h3>
  <dl class="uno-donors__list">
    <div class="uno-donor">
      <dt>Food Security</dt>
      <dd>$17.5 million</dd>
    </div>
    <div class="uno-donor">
      <dt>Protection</dt>
      <dd>$15.9 million</dd>
    </div>
    <div class="uno-donor">
      <dt>Not specified</dt>
      <dd>$12.1 million</dd>
    </div>
    <div class="uno-donor">
      <dt>Coordination and Support Services</dt>
      <dd>$6.2 million</dd>
    </div>
    <div class="uno-donor">
      <dt>Education</dt>
      <dd>$4.7 million</dd>
    </div>
  </dl>
</section>

<section class="uno-donors uno-donors--top-donors">
  <h3 class="uno-donors__title">Top donors</h3>
  <dl class="uno-donors__list">
    <div class="uno-donor">
      <dt class="uno-donor__label-wrapper">
        <span class="uno-donor__label">Australia</span>
        <small>(paid)</small>
      </dt>
      <dd>$4.2 million</dd>
    </div>
    <div class="uno-donor">
      <dt class="uno-donor__label-wrapper">
        <span class="uno-donor__label">Canada</span>
        <small>(paid)</small>
      </dt>
      <dd>$6.1 million</dd>
    </div>
    <div class="uno-donor">
      <dt class="uno-donor__label-wrapper">
        <span class="uno-donor__label">Sweden</span>
        <small>(pledged)</small>
      </dt>
      <dd>$1.5 million</dd>
    </div>
    <div class="uno-donor">
      <dt class="uno-donor__label-wrapper">
        <span class="uno-donor__label">Switzerland</span>
        <small>(paid)</small>
      </dt>
      <dd>$538.2 thousand</dd>
    </div>
    <div class="uno-donor">
      <dt class="uno-donor__label-wrapper">
        <span class="uno-donor__label">Ireland</span>
        <small>(paid)</small>
      </dt>
      <dd>$529.7 thousand</dd>
    </div>
  </dl>
</section>

<section class="uno-donors uno-donors--top-sectors uno-donors--earmarked">
  <h3 class="uno-donors__title">Earmarked donors</h3>
  <dl class="uno-donors__list">
    <div class="uno-donor">
      <dt>Canada</dt>
      <dd>$148.9 thousand</dd>
    </div>
    <div class="uno-donor">
      <dt>Protection</dt>
      <dd>$535.9 thousand</dd>
    </div>
    <div class="uno-donor">
      <dt>Sweden (SIDA)</dt>
      <dd>$192.1 thousand</dd>
    </div>
  </dl>
</section>

<section class="uno-donors uno-donors--top-sectors uno-donors--unearmarked">
  <h3 class="uno-donors__title">Unearmarked donors</h3>
  <ul class="uno-donors__list">
    <li>Australia</li>
    <li>Belgium</li>
    <li>Canada</li>
    <li>Estonia</li>
    <li>Finland</li>
    <li>France</li>
    <li>Germany</li>
    <li>Iceland</li>
    <li>Ireland</li>
    <li>Japan</li>
    <li>Luxembourg</li>
    <li>Monaco</li>
    <li>Netherlands</li>
    <li>New Zealand</li>
    <li>Norway</li>
    <li>Private Contributions</li>
    <li>Russian Federation</li>
    <li>South Africa</li>
    <li>Sweden</li>
    <li>Switzerland</li>
    <li>United Kingdom</li>
  </ul>
</section>
