{{ attach_library('common_design_subtheme/uno-donors') }}

<section class="uno-donors uno-donors--top-donors">
  <h3 class="uno-donors__title">Top donors</h3>
  <dl class="uno-donors__list">
    <div class="uno-donor">
      <dt>Japan</dt>
      <dd>$28.9  million (36.3%)</dd>
    </div>
    <div class="uno-donor">
      <dt>United States of America</dt>
      <dd>$9.6  million (12.1%)</dd>
    </div>
    <div class="uno-donor">
      <dt>Sweden</dt>
      <dd>$8.6  million (10.8%)</dd>
    </div>
    <div class="uno-donor">
      <dt>Germany</dt>
      <dd>$8.5  million (10.7%)</dd>
    </div>
    <div class="uno-donor">
      <dt>Ausdlalia</dt>
      <dd>$6.1  million (7.7%)</dd>
    </div>
  </dl>
</section>

<section class="uno-donors uno-donors--top-sectors">
  <h3 class="uno-donors__title">Top funded sectors</h3>
  <dl class="uno-donors__list">
    <div class="uno-donor">
      <dt>Food Security</dt>
      <dd>$17.5  million</dd>
    </div>
    <div class="uno-donor">
      <dt>Protection</dt>
      <dd>$15.9  million</dd>
    </div>
    <div class="uno-donor">
      <dt>Not specified</dt>
      <dd>$12.1  million</dd>
    </div>
    <div class="uno-donor">
      <dt>Coordination and Support Services</dt>
      <dd>$6.2  million</dd>
    </div>
    <div class="uno-donor">
      <dt>Education</dt>
      <dd>$4.7  million</dd>
    </div>
  </dl>
</section>
