{{ attach_library('common_design_subtheme/uno-gho') }}

{% set url ='https://humanitarianaction.info/gho2023' %}

<div class="cd-container">
  <div class="gho-needs-and-requirements gho-figures gho-figures--large">
    <div class="gho-needs-and-requirements-figure gho-figure gho-content">
      <h2 class="gho-heading">{% trans %}GHO 2023{% endtrans %}</h2>
      <p>{% trans %}Global Humanitarian Overview is an annual assessment of global humanitarian needs and the resources required to respond to them.{% endtrans %}
      </p>
      <a href="{{ url }}" class="cd-read-more">
        {% trans %}Learn more{% endtrans %}
        <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
    <div class="gho-needs-and-requirements-figure gho-figure">
      <div class="gho-needs-and-requirements-figure__value gho-figure__value">{% trans %}339M{% endtrans %}</div>
      <div class="gho-needs-and-requirements-figure__label gho-figure__label">{% trans %}People in need{% endtrans %}</div>
    </div>
    <div class="gho-needs-and-requirements-figure gho-figure">
      <div class="gho-needs-and-requirements-figure__value gho-figure__value">{% trans %}230M{% endtrans %}</div>
      <div class="gho-needs-and-requirements-figure__label gho-figure__label">{% trans %}People targeted{% endtrans %}</div>
    </div>
    <div class="gho-needs-and-requirements-figure gho-figure">
      <div class="gho-needs-and-requirements-figure__value gho-figure__value">{% trans %}51.5B{% endtrans %}</div>
      <div class="gho-needs-and-requirements-figure__label gho-figure__label">{% trans %}Requirements (US$){% endtrans %}</div>
    </div>
    <div class="gho-needs-and-requirements-figure gho-figure">
    <div class="gho-needs-and-requirements-figure__label gho-figure__label">{% trans %}Top donors in 2022{% endtrans %}</div>
    </div>
  </div>
</div>
