.uno-leader--full .field--name-field-leader-title {
  margin-bottom: 2rem;
  font-size: var(--cd-font-size--large);
}
.uno-leader--full .field--name-field-leader-portrait {
  float: left;
  max-width: 30%;
  margin: 0 2rem 2rem 0;
}

.uno-leader--teaser {
  display: grid;
  grid-template-areas: "image name" "image title" "image link";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 25% 75%;
  gap: 1rem 2rem;
}
.uno-leader--teaser .uno-leader__name {
  grid-area: name;
  align-self: end;
  margin: 0;
}
.uno-leader--teaser .field--name-field-leader-title {
  grid-area: title;
  font-size: var(--cd-font-size--medium);
}
.uno-leader--teaser .cd-read-more {
  grid-area: link;
}
.uno-leader--teaser .field--name-field-leader-portrait {
  grid-area: image;
}

.uno-leader--title {
  display: grid;
  grid-template-areas: "image name" "image title" "image link";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 20% 80%;
  gap: 1rem 1rem;
}
.uno-leader--title .uno-leader__name {
  grid-area: name;
  align-self: end;
  margin: 0;
}
.uno-leader--title .field--name-field-leader-title {
  grid-area: title;
  font-size: var(--cd-font-size--base);
}
.uno-leader--title .cd-read-more {
  grid-area: link;
}
.uno-leader--title .field--name-field-leader-portrait {
  grid-area: image;
}

/* In a Two Column Layout */
.layout--twocol .uno-leader--teaser {
  display: flex;
  flex-direction: column;
}

.uno-leader--teaser .uno-leader__name {
  margin: 0;
}

.uno-leader--teaser .field--name-field-leader-title {
  grid-area: title;
  font-size: var(--cd-font-size--medium);
}

.uno-leader--teaser .cd-read-more {
  grid-area: link;
}

.uno-leader--teaser .field--name-field-leader-portrait {
  grid-area: image;
}

.uno-leader--title {
  display: grid;
  grid-template-areas: "image name" "image title" "image link";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 20% 80%;
  gap: 1rem 1rem;
}

.uno-leader--title .uno-leader__name {
  grid-area: name;
  align-self: end;
  margin: 0;
}

.uno-leader--title .field--name-field-leader-title {
  grid-area: title;
  font-size: var(--cd-font-size--base);
}

.uno-leader--title .cd-read-more {
  grid-area: link;
}

.uno-leader--title .field--name-field-leader-portrait {
  grid-area: image;
}

/* Two column layout for USG, ASG */
.layout--twocol .uno-leader--teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout--twocol .uno-leader--teaser .uno-leader__name {
  align-self: unset;
}

/* Rounded portraits */
.layout--twocol .field--name-field-leader-portrait img {
  display: block;
  width: 100%;
  max-width: 360px;
  height: auto ;
  margin: 0 auto;
  border-radius: 50%;
}

.field--name-field-custom-content .paragraph--type--leader,
.field--name-field-custom-content .paragraph--type--leader:last-child {
  margin-bottom: 6rem;
}

.paragraph--type--leader.paragraph--view-mode--small {
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--brand-grey);
}

.layout--twocol .cd-block-title {
  font-size: var(--cd-font-size--large);
  text-align: center;
  margin-bottom: 2rem;
}
