/**
 * CD Teaser
 */

:root {
  --cd-bumper-space: 2rem;
  --cd-flow-space: 2rem;
}

.cd-teaser {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--brand-grey);
}

.cd-teaser__title,
.cd-teaser__title a {
  display: inline-block;
  margin-top: 0;
}

.cd-teaser__description p {
  margin-bottom: 0;
}

[dir="ltr"] .cd-bumper .cd-teaser__image:empty + .cd-teaser__container {
  padding-left: 0;
}

.cd-teaser__image {
  margin-top: 0;
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .cd-teaser__image {
    margin-top: 0;
    margin-bottom: 0;
  }
}
