/* This fixes the issue with the CKeditor anchor modal in Layout paragraphs,
  documented here:
  https: //www.drupal.org/project/drupal/issues/3328425
  See https: //www.drupal.org/project/drupal/issues/3274937#comment-14824232
*/

.ck-body-wrapper .ck {
  --ck-z-modal: 1261;
}

.ui-dialog~.ck-body-wrapper {
  --ck-z-modal: 1261;
}

/* Specific paragraph previews */
.paragraph.paragraph--view-mode--preview .media--type-image {
  max-width: 220px;
}

/* Colours to demonstrate nested paragraphs */
.lp-builder:not(.is-navigating) .js-lpb-component:hover,
.lp-builder:not(.is-navigating) .js-lpb-component:focus-within {
  outline-width: 3px;
}

.lp-builder:not(.is-navigating) .js-lpb-component:hover .js-lpb-component:hover,
.lp-builder:not(.is-navigating) .js-lpb-component:hover .js-lpb-component:focus-within,
.lp-builder:not(.is-navigating) .js-lpb-component:focus-within .js-lpb-component:focus-within,
.lp-builder:not(.is-navigating) .js-lpb-component:focus-within .js-lpb-component:hover {
  outline: 3px solid magenta;
}

.lp-builder:not(.is-navigating) .js-lpb-component:hover .js-lpb-component:hover .js-lpb-component:hover,
.lp-builder:not(.is-navigating) .js-lpb-component:hover .js-lpb-component:hover .js-lpb-component:focus-within,
.lp-builder:not(.is-navigating) .js-lpb-component:hover .js-lpb-component:focus-within .js-lpb-component:hover,
.lp-builder:not(.is-navigating) .js-lpb-component:hover .js-lpb-component:focus-within .js-lpb-component:focus-within,
.lp-builder:not(.is-navigating) .js-lpb-component:focus-within .js-lpb-component:hover .js-lpb-component:hover,
.lp-builder:not(.is-navigating) .js-lpb-component:focus-within .js-lpb-component:hover .js-lpb-component:focus-within,
.lp-builder:not(.is-navigating) .js-lpb-component:focus-within .js-lpb-component:focus-within .js-lpb-component:hover,
.lp-builder:not(.is-navigating) .js-lpb-component:focus-within .js-lpb-component:focus-within .js-lpb-component:focus-within {
  outline: 3px solid greenyellow;
}


/* Adjust the width of the sidebar for the Content Editor form */
.cd-layout__sidebar--wide {
  flex-basis: 285px !important;
}

/* Matches .cd-block-title */
.field--name-field-title {
  margin: 0 0 1rem 0;
  margin-top: 0;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}

/* Video embed defaults to 16:9 aspect ratio */
.field--name-field-video .field--name-field-media-oembed-video {
  position: relative;
  float: none;
  clear: both;
  width: 100%;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%;
}

.field--name-field-video .field--name-field-media-oembed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
