{{ attach_library('common_design_subtheme/cd-hero') }}
{{ attach_library('common_design_subtheme/cd-hero--style-three') }}
{{ attach_library('common_design/cd-bleed') }}
<div class="cd-hero cd-hero--style-three cd-bleed">
  <div class="cd-hero__image">
    {% block hero_image %}
      {{ content.field_image }}
    {% endblock %}
  </div>
</div>
