/**
 * HR.info River
 *
 * The layout is controlled by uno-layout component.
 *
 * @see html/themes/custom/common_design_subtheme/components/uno-layout/uno-layout.css
 */

.uno-river {
  /* in order to position our skip-links nearer to the River itself */
  position: relative;
}

/**
 * Cosmetic styles
 */
.uno-river__results th {
  white-space: nowrap;
}

.uno-river__facets-count {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  padding-bottom: calc(0.5rem - 2px);
  border-bottom: 2px solid var(--brand-light);
}

.uno-river__facets-count__value {
  color: black;
  font-weight: 700;
}

.uno-river__facets summary {
  display: list-item;
  padding-inline-start: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}
.uno-river__facets summary > * {
  display: inline;
}

.uno-river__facet {
  padding-inline-start: 1.5rem;
}

.uno-river__facet-link {
  font-size: var(--cd-font-size--small);
}
.uno-river td[data-title="Files"] {
  position: relative;
  width: 100px;
}

/* all results */
.uno-river__result {
  max-width: 720px;
  margin: 0;
  padding: 1rem 0 1.5rem 0;
}
.uno-river__results article:first-of-type {
  padding: 0 0 1.5rem 0;
}

/* all results but the first */
.uno-river__result + .uno-river__result {
  border-top: 1px solid var(--brand-grey);
}

.uno-river__result .country {
  display: inline;
  margin-inline-end: 0.75em;
  padding: 0.25em 1em;
  background: var(--brand-grey);
  font-size: var(--cd-font-size--small);
}
.uno-river__result .country--primary {
  font-weight: 700;
}

.uno-river__result .title {
  display: inline;
  font-size: var(--cd-font-size--base);
}

.uno-river__result .content img {
  display: none;
}

@media (min-width: 580px) {
  .uno-river__result .content {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .uno-river__result .content img {
    /* unset some mobile styles */
    display: initial;

    /* setup desktop layout */
    flex: 0 0 auto;
    max-height: 118px;
    margin-inline-end: 1rem;
  }
}

.uno-river__result .meta {
  margin: 1rem 0 0;
  padding: 0;
  font-size: var(--cd-font-size--small);
}
/* unset cd-typography defaults for dl tag */
@media screen and (min-width: 576px) {
  .uno-river__result dl.meta {
    display: block;
  }
}
.uno-river__result .meta div {
  display: inline;
  white-space: nowrap;
}
.uno-river__result .meta dt {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.uno-river__result .meta dd {
  display: inline;
  margin: 0;
  padding: 0;
}
.uno-river__result .meta dd::after {
  display: inline;
  margin: 0 0.5rem;
  content: "•";
}
.uno-river__result .meta dd:last-of-type::after {
  content: none;
}

.uno-river__result .meta dd.format::before {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: -2px 6px 0 0;
  content: "";
  vertical-align: middle;
  background: rgba(0, 0, 0, 0) url("../rw-brand/rw-icons-sprite.svg") -328px -32px no-repeat;
}

.uno-river__result .meta dd.format.map::before {
  background-position-y: -48px;
}
.uno-river__result .meta dd.format.infographic::before {
  background-position-y: -64px;
}
.uno-river__result .meta dd.format.interactive::before {
  background-position-y: -80px;
}
.uno-river__result .meta dd.format.dataset::before {
  background-position-y: -64px;
}

/* files buttons */
.uno-river__file {
  text-decoration: none;
}
.uno-river__file-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: transparent url("../rw-brand/rw-icons-sprite.svg") -108px -60px no-repeat;
}

/* external URL symbols */
.uno-river__external-url {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: transparent url("../rw-brand/rw-icons-sprite.svg") -84px -108px no-repeat;
}

/**
 * River skip-links should appear to hug the Operation tabs.
 */
@media (min-width: 860px) {
  .uno-river .skip-link {
    transform: translateY(-2rem);
  }
}
