/* RW River paragraph */
:root {
  --rw-card-list-num-cols: 1;
  --rw-card-list-gap-size: 2rem;
}

.rw-river-article .rw-river-article__header {
  max-width: var(--cd-max-content-width);
}

.paragraph--type--reliefweb-river .rw-river-article .rw-river-article__header + .rw-river-article__footer dd {
  font-size: 0.875rem;
}

.paragraph--type--reliefweb-river .rw-river-article .rw-river-article__title a {
  text-decoration: none;
  color: var(--cd-black);
}

/* Hide icons */
.paragraph--type--reliefweb-river .rw-entity-meta dd.rw-entity-meta__tag-value--format::before {
  content: none;
}

.paragraph--type--reliefweb-river .cd-read-more,
.paragraph--type--reliefweb-river .uno-tag {
  display: none;
}

/* Rivers in Layouts */
.layout--twocol-sidebar.cd-layout,
.page-node-type-response .paragraph--type--reliefweb-river {
  background-color: var(--brand-grey);
}
.page-node-type-response .paragraph--type--reliefweb-river {
  padding: 2rem;
  background-color: var(--brand-grey);
}

/* CD overrides */
.cd-article .paragraph--type--reliefweb-river p {
  max-width: var(--cd-max-content-width);
  margin-right: 0;
  margin-left: 0;
}

.layout--twocol-sidebar.cd-layout {
  gap: 0;
}

.layout--twocol-sidebar .cd-layout__sidebar--wide {
  flex-basis: 380px;
  margin-top: 3rem; /* The height of the main column's title */
}

/* Card view mode */
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river__articles {
  display: flex;
  flex-flow: row wrap;
  gap: var(--rw-card-list-gap-size);
}

.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river__articles article {
  /* stylelint-disable-next-line max-line-length */
  flex: 0 1 calc((100% / var(--rw-card-list-num-cols)) - var(--rw-card-list-gap-size) + var(--rw-card-list-gap-size) / var(--rw-card-list-num-cols));
}

@media screen and (min-width: 768px) {
  .paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river__articles {
    --rw-card-list-num-cols: 2;
  }
}

/* cd-flow reset for 2nd item on rw-river items because
  we are displaying as cards now
*/
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river__articles.cd-flow article:nth-child(2) {
  margin-top: 0;
}

/* rw-article reset for last item on rw-river items because
  we are displaying as cards now
*/
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river__articles article:last-child {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cd-reliefweb-brand-grey--light);
}

.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river-article .rw-river-article__content img {
  float: none;
  max-height: unset;
  margin: 2px auto 20px;
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
}

.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river__articles article .rw-river-article__content {
  order: 1;
}
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river__articles article .rw-river-article__header {
  order: 2;
}
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river__articles article .rw-river-article__footer {
  order: 3;
}

/* rw-article teasers view mode */
.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river-article {
  flex-direction: row;
  flex-wrap: wrap;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river-article .rw-river-article__content {
  flex: 0 1 auto;
  align-items: flex-start;
  padding-top: 0;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river-article .rw-river-article__header {
  flex: 0 1 50%;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river-article .rw-river-article__footer {
  flex: 1 0 100%;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river__articles article .rw-river-article__content {
  order: 1;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river__articles article .rw-river-article__header {
  order: 2;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river__articles article .rw-river-article__footer {
  order: 3;
}

/* Control markup display for view modes */
.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .uno-tag,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .uno-tag {
  display: block;
}
.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .cd-read-more,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .cd-read-more {
  display: inline-block;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river-article__header p.rw-entity-country-slug,
.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river-article__content p,
.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-entity-meta dt,
.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-entity-meta dd,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river-article__header p.rw-entity-country-slug,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river-article__content p,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-entity-meta dt,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-entity-meta dd {
  display: none;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-entity-meta .rw-entity-meta__tag-value--posted,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-entity-meta .rw-entity-meta__tag-value--posted {
  display: inline-block;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-entity-meta .rw-entity-meta__tag-value--posted,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-entity-meta .rw-entity-meta__tag-value--posted,
.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .cd-read-more,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .cd-read-more {
  font-size: var(--cd-font-size--small);
}

/* Hide list bullet */
.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-entity-meta--core dd::after,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-entity-meta--core dd::after {
  content: none;
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river-article .uno-tag,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river-article .uno-tag {
  color: var(--brand-highlight);
}

.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river-article .rw-river-article__footer,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river-article .rw-river-article__footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}
.paragraph--type--reliefweb-river.paragraph--view-mode--teasers .rw-river-article .rw-river-article__footer dl,
.paragraph--type--reliefweb-river.paragraph--view-mode--cards .rw-river-article .rw-river-article__footer dl {
  flex: 1 auto;
}
