/**
 * CD Caption
 */

.cd-container .cd-caption {
  max-width: var(--cd-max-content-width);
  margin: 0.25rem 0 2rem;
  padding: 0;
  text-align: left;
  font-size: 0.875rem;
  font-style: normal;
}

/* Special Hero caption rules because the image exceeds the page bounds */
.cd-container .cd-hero .cd-caption {
  max-width: var(--cd-max-width);
  margin: 0.25rem auto 2rem;
  padding: 0 var(--cd-container-padding);
}
.cd-container .cd-hero .cd-caption .field--name-field-image-caption {
  max-width: var(--cd-max-content-width);
}
@media screen and (min-width: 768px) {
  .cd-container .cd-hero .cd-caption {
    padding: 0 var(--cd-container-padding-tablet);
  }
}

@media screen and (min-width: 1200px) {
  .cd-container .cd-hero .cd-caption {
    padding: 0 var(--cd-container-padding-xlarge);
  }
}

[dir="rtl"] .cd-caption {
  text-align: right;
}
