/**
 * CD Caption
 */

.cd-caption {
  text-align: left;
  font-size: 0.875rem;
  font-style: normal;
  margin: 1rem 0 2rem;
  max-width: var(--cd-max-content-width);
}

[dir="rtl"] .cd-caption {
  text-align: right;
}
